.slate-title{
    /* height: 100%; */
}
.canvas-header {
    min-width: 790px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    font-size: 13px;
    display: inline-flex;
}

.header-label {
    min-width: max-content;
    font-size: 12px;
    color: #424242
}

.canvas-header .input-text {
    /* width: 83%; */
    width: 72%;
    border-bottom: solid 1px #e0e0e0;
    margin-left: 11px;
}

.canvas-header .input-text:hover {
    border-bottom: solid 1px #0063CA;
}

.u-hidden {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    color: #424242;
    line-height: 1;
    vertical-align: top;
    transition: opacity .3s;
}

.input-text .txt-input {
    font-weight: 200;
    width: 100%;
    line-height: 1;
    padding: 0 0 4px 0;
    border: none;
    background: 0;
    color: #5F5F5F;
    font-size: 1.0em;
}
.slate-header {
    align-self: center;
}
.canvas-header.slate-lock-block{
    display: flex;
    padding-left: 8px;
    font-size: 12px;
    color: #424242;
}
.locked-slate-title{
    align-self: center;
    margin-top: 8px;
    text-transform: capitalize;
}