.title {
  width: 29px;
  height: 17px;
  margin: 32px 80px 16px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #424242;
}

.row {
  flex-direction: "row";
  display: "flex";
  margin-top: 16px;
}

.lobTitle {
  min-width: 100px;
  height: 18px;
  margin-left: 10px;
  margin-right: 17px;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
  float: left;
}

.discussionItemTitle {
  min-width: 48px;
  height: 17px;
  margin: 16px 62px 16px 9px;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
}

.usageTypeTitle {
  width: 153px;
  float: left;
  font-size: 13px;
  color: #424242;
  position: relative;
  top: 6px;
}

.container {
  margin-top: 20px;
}

.popupContainer {
  width: 1138px;
  /* min-width: 400px; */
  margin-left: 10%;
  margin-right: 10%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.lobNotPresent {
  height: auto;
  margin: 16px 9px 24px 10px;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #db1158;
}

.usageTypeContainer {
  margin-left: 11px;
}

.bottomMargin {
  margin-bottom: 20px;
}

.discussionImage {
  display: block;
  width: 100%;
  margin: 6.5em auto 0.65em auto;
}

/* For Modal */

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

/* The Modal (background) */
.modal-discussion {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal {
  position: fixed;
  width: 1200px;
  top: 50%;
  right: 0;
  left: 50%;
  background: #fff;
  background-color: white;
  z-index: 1500;
  min-height: 560px;
  max-height: 560px;
  transform: translate(-50%, -50%);
  transition: top 0.4s, opacity 0.4s;
  margin: 0;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


.altText {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #005a70;
}