@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.MuiDialog-paperWidthSm{
    width: 410px !important;
}
.MuiTypography-h6{
    font-size: 16px !important;
    font-weight: 600 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: normal;
    color: #005a70;
}

.MuiDialog-paper{
    overflow-y: hidden !important;
}

.MuiDialogContent-root{
    overflow-y: hidden!important;
    flex: none !important;
    padding: 5px 24px !important;
}

.MuiTypography-body1{
    font-size: 14px !important;
    font-weight: bold !important;
    color: #858585 !important;
}
.MuiDialogContentText-root{
    margin-bottom: 0px !important;
}
.MuiFilledInput-input{
    padding: 10px 12px 20px !important;
}
.MuiPaper-elevation24{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14) !important; 
}
.MuiFilledInput-root{
background-color: #f7f7f7 !important;
}
.MuiFormLabel-root{
    color: black !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.MuiSelect-icon{
    color: black !important;
}
.popup-top-line{
  height: 5px;
  margin: 0 0 5px;
  background-color: #005a70;
}
.MuiPaper-rounded{
    border-radius: 0px !important;
}
.MuiButton-root{
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: initial !important;
}
.MuiDialogActions-root{
    margin: 16px !important;
}
.active-button-class{
    color: #005a70 !important;
}
.MuiFilledInput-underline:after{
    border-bottom: 1px solid #005a70 !important;
}
.MuiSelect-select:not([multiple]) option, .MuiSelect-select:not([multiple]) optgroup{
    padding: 10px;
}
.MuiMenu-paper{
    width: 360px;
    height: 208px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.MuiMenu-paper::-webkit-scrollbar-thumb {
    background-color: #00000096 !important;
    margin: 0 4px 36px 0;
    border-radius: 3px;
  }
  .MuiMenu-paper::-webkit-scrollbar{
    width: 8px !important;
}
  .small-title {
    color: #858585;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
  .dropdown-items {
    font-size: 14px;
    font-weight: 500;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
  .MuiListItem-button:hover{
      background-color: #f3f7f8 !important;
  }
  .MuiInputLabel-filled.MuiInputLabel-shrink{
    transform: translate(10px, 14px) !important;
  }
  .MuiSelect-iconFilled{
      font-size: 24px !important;
  }
@media (max-width: 1822px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 416px !important;
      }
  }
  @media (max-width: 1708px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 388px !important;
      }
  }
  @media (max-width: 1581px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 344px !important;
      }
  }
  @media (max-width: 1367px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 307px !important;
      }
  }
  @media (max-width: 1242px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 278px !important;
      }
  }
  @media (max-width: 1280px) {
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 281px !important;
      }
  }
  @media (width: 1422px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 315px !important;
      }
  }
  @media (width: 1600px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 358px !important;
      }
  }
  @media (width: 1163px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 254px !important;
      }
  }
  @media (width: 1024px) { 
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
        top: 219px !important;
      }
  }
