.Editor .mce-content-body {
    width:100%;
}
.mce-content-body{
    padding: 10px !important; 
}
.mce-content-body  p{
    /* margin: 0 !important; */
    font-size: 12px ;
    font-family: Helvetica, sans-serif !important;

   
}
/* .figureLabel .mce-content-body:before {
   content:"Enter Label..."!important;
} */


/* .figureTitle .mce-content-body:before {
    content:"Enter Title..."!important;
 }
 .figureCaption .mce-content-body:before {
    content:"Enter Caption..."!important;
 }
.figureCredit .mce-content-body:before {
    content:"Enter Credit..."!important;
 }
 .codeSnippet .mce-content-body:before {
    content:"Enter the Block Code..."!important;
 }
 .mathml  .mce-content-body:before {
    content:"Type something..."!important;
 }
 .content-editorr:before {
    display: none;
}
.content-editor.empty:before {
    display: block;
    position: absolute;
    content: attr(data-placeholder);
} */
 /* .mathml .mce-edit-focus:before,.codeSnippet .mce-edit-focus:before,.figureCredit .mce-edit-focus:before,.figureCaption .mce-edit-focus:before,.figureTitle .mce-edit-focus:before,.figureLabel .mce-edit-focus:before{
    content:" "!important;
 } */
.figureImage50Text .mce-content-body .mce-edit-focus{
    margin: 0px;
    position: relative;
    /* top: 20px; */
    /* margin-left: 25px; */
    /* margin-bottom: 20px; */
    /* padding-top: 10px !important;
    padding-left: 10px!important; */
    width: 660px;
    min-height: 40px!important;
    border: 2px solid black;
    outline: none;
    border:1px solid black;
    font-size: 12px !important;
    color: #000 !important;
}
.figureImage50Text .Editor {
    margin: 0!important;
    /* position: relative;
    top: 20px!important; */
    /* margin-left: 2px!important;
    margin-bottom: 2px!important; */
    padding: 10px!important;
    /* padding-left: 4px!important; */
    width: 660px!important;
    min-height: 40px!important;
    border: 2px solid black;
    outline: none;
}
.figureLabel{
    font-weight: 800!important;
}
#figure-credit .Editor .figureCredit .mce-content-body .mce-edit-focus{
    min-height: 40px!important;
width:100% !important;
}
.figureCredit , .figureTitle, .figureCaption, .figureLabel, .mathml .figureElement .figureData {
    min-height: 40px!important;
    cursor: auto !important;
}
.figureElement .figureData {
    cursor:copy!important ;
}
figcaption,.figureCaption #figure-caption .mce-content-body  .mce-edit-focus{
    font-size: 10.8px!important;
    text-align: left !important;
}
figure,.element-container{
    display:contents !important;
}
/* figure{
    display: contents;
} */