.editor {
    margin-bottom: 5px;
    display: flex;
    position: relative;
}

.element-container {
    /* padding: 15px; */
    flex-grow: 1;
    max-width: 93.1%;
    background-color: #fff;
    padding: 1px 8px !important; 
    /* border: 1.5px solid #aaa; */
}

.editor.searched > .element-container {
    background-color: rgba(255, 226, 164, 0.3);
}

.element-container.active:not(.ct) {
    border: 1.5px solid #005a70;
    padding: 1px 7px;
}

.element-container.ct.active {
    border: 1.5px solid #005a70 !important;
}

.editor.cut .element-container.active,
.editor.copy .element-container.active,
.editor.cut .element-container.ct.active,
.editor.copy .element-container.ct.active
.editor.cut .showBorder, .editor.copy .showBorder {
    border: none !important;
    background: linear-gradient(90deg, #005a70 50%, transparent 50%), linear-gradient(90deg, #005a70 50%, transparent 50%), linear-gradient(0deg, #005a70 50%, transparent 50%), linear-gradient(0deg, #005a70 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 16px, 2px 16px;
    background-position: left top, right bottom, left bottom, right 1.5px top;
    padding: 10px;
    animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom 0.5px, left bottom, right 1.5px top;
    }
    100% {
      background-position: left 15px top, right 15px bottom 0.5px, left bottom 15px , right 1.5px top 15px;
    }
}

.element-container.hideBorder:not(.as):not(.we):not(.cg):not(.pe):not(.multi-column) *, .element-container.showBorder:not(.as):not(.we):not(.cg):not(.pe):not(.multi-column) * {
    cursor: default !important;
}

.bce.element-container > .bce-overlay.disabled {
    cursor: default;
    background: #444;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
}

.element-Overlay.disabled {
    cursor: default;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
}

.editor.cut .element-Overlay.disabled {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.showBorder {
    border: 1px solid #737373;
}

.editor.searched > .showBorder {
    border: 1px solid #ff9b19;
    box-shadow: 0 0 4px 0 #ff9b19;
}

.copy-menu-container {
    position: absolute;
    z-index: 2;
    box-shadow: 1px 1px 6px 0px grey;
}

.copyUrn {
    z-index: 1500;
    position: relative;
    cursor: pointer;
    /* box-shadow: 1px 1px 6px 0px grey; */
    border-color: #d6d6d5;
    text-align: left;
    height: auto;
    width: auto;
    font-size: 16px;
    padding: 10px 15px;
    background : #fff;
}

.copyUrn:hover{
    background-color: #E9F4F6;
}

.hideBorder {
    border: none;
}
.element-container .cypress-editable{
    padding:10px !important;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 64px;
}
/* .element-container{
    padding: 1px 8px !important; 
} */
a.paragraphNumeroUnoFootnote {
    text-decoration: none !important;
    cursor: pointer;
}
.color-palette-list .color-palette-item:nth-child(1) {
    background-color: #005A70 !important;
}

.color-palette-list .color-palette-item:nth-child(2) {
    background-color: #003057 !important;
}
.color-palette-list .color-palette-item:nth-child(3) {
    background-color: #006128 !important;
}
.color-palette-list .color-palette-item:nth-child(4) {
    background-color: #505759 !important;
}
.color-palette-list .color-palette-item:nth-child(5) {
    background-color: #000000 !important;
}
.color-palette-list .color-palette-item{
    margin: 0;
    width: 27px;
    height: 27px;
    float: left;
    cursor: pointer;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.color-palette-list{
    position: absolute;
    left: 25px;
    top: 12%;
    z-index: 1;
}
.color-palette-item.selected {
    border: 2.5px solid #1fd595 !important;
}


.color-text-list .color-text-item:nth-child(1) {
    background-color: #ffffff !important;
}

.color-text-list .color-text-item:nth-child(2) {
    background-color: #000000 !important;
}

.color-text-list .color-text-item{
    margin: 0;
    width: 27px;
    height: 27px;
    float: left;
    cursor: pointer;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.color-text-list{
    position: absolute;
    left: 25px;
    top: 18%;
    z-index: 1;
}
.color-text-item.selected {
    border: 2.5px solid #1fd595 !important;
}


.arrow{
    position: absolute;
    top: 85px;
    margin-left: 0px;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 13px;
}

/* Asset popover link */
abbr.AssetPopoverTerm{
    color: #007FA3;
    font-family: inherit;
    /* font-style: normal; */
}
abbr.AssetPopoverTerm:hover {
    color: #9E007E;
    text-decoration: underline;
    cursor: pointer;
}

/* Alfresco Buttons */
button#assetSelectBtn{
    font-size: 14px
}
button.SearchLibraryStyles__btnCancel___1G1qN, button.BrowseStyles__btnCancel___2wiLt, button.modalStyles__btnCancel___3b7HW{
    font-size: 14px
}
.ignore-for-drag{
    cursor: default!important;
}