.horizontalLine {
    display: block;
    height: 2px;
    width: 102%;
    /* border-top: 1px dotted #aaaaaa; */
    margin: 1.2em 0;
    padding: 0;
    border-top-color: rgb(170, 170, 170);
    border-top-style: dotted;
    border-top-width: 1px;
    border-right-color: rgb(170, 170, 170);
    border-right-style: dotted;
    border-right-width: 1px;
    border-bottom-color: rgb(170, 170, 170);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-left-color: rgb(170, 170, 170);
    border-left-style: dotted;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.elementSapratorContainer {
    width: 100%;
    margin-top: 10px;
    height: 32px;
    padding-bottom: 6px !important;
    display: flex;
    opacity: 0;
}

.elementSapratorContainer:hover{
    opacity: 1;
}
.elemDiv-split {
    width:5%;
    /* float:left; */
    position: relative;
    left: -2px;

}
.elemDiv-hr {
    width: 115%;
    /* float:left; */
    position: relative;
    left: -2px;
}
.elemDiv-expand {
    width:30px;
    /* float:left; */
    /* bottom: 1px; */
    position: relative;
    right: -16px;
}

/* .elemDiv-expand.paste-button-wrapper {
    bottom: 0;
} */

.elemDiv-expand.paste-button-wrapper.disabled .btn-element {
    pointer-events: none;
}

.element-container .elemDiv-expand.paste-button-wrapper {
    right: 8px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 3;
}

.dropdown-content ul{
    padding-left: 0px;
    background-color: #ffffff;
    margin-left: -4px;
}

.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    /* transition: opacity 1s linear; */
     /* visibility: 1s linear; */
     -webkit-animation: fadein 2s; 
     -moz-animation: fadein 2s; 
      -ms-animation: fadein 2s; 
       -o-animation: fadein 2s; 
          animation: fadein 2s;
}
.conatiner-other-elements + .tooltip:hover .tooltiptext{
    opacity:0;
    visibility:hidden;
}
.conatiner-other-elements + .tooltip span{
    opacity: 1;
    fill: black!important;
    border: solid 1px #434343;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 14px;
}
li{
    margin: 3px 0px 0px;
}
.opacityClassOn{
    opacity: 1;
}
