.original-text{
    margin-bottom: 8px;
    color: var(--text-primary, #081E27);
font-feature-settings: 'clig' off, 'liga' off;

/* typography/h6 */
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */
}

.converted-text{
    margin-bottom: 8px;
    color: var(--text-primary, #081E27);
font-feature-settings: 'clig' off, 'liga' off;

/* typography/h6 */
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */
}

.word-file-import{
display: flex;
column-gap: 40px;
}

.original-file-preview{
    width: 50%;
    position: relative;
}

.converted-file-preview{
    width: 50%; 
    position: relative;
}

.word-file-import .tox-tinymce {
    border-radius: 20px 20px 0px 0px!important;
    border-left: solid 8px #EFF1F3 !important;
    border-top: solid 8px #EFF1F3 !important;
    border-bottom: none;
}

/* .word-file::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 14px;
    background-color: transparent !important;
}

.word-file::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.word-file::-webkit-scrollbar-thumb {
    border-radius: 21px !important;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: #4e4e4e !important;
} */