.matadata_anchor p{
    color: white;
    display: inline;
    padding: 3px 10px!important;
    background-color: #737373;
}
.element-container .learningObjectiveContainer .learningObjectiveinner{
    padding: 10px 0px 0px 10px!important;
}
.element-container .learningObjectiveContainer .learningObjectiveinnerText.cypress-editable.place-holder::before
{ content: attr(placeholder);
    position: inherit;

}
.learningObjectiveinnerText.cypress-editable.place-holder{
    font-style:italic;
}
.element-container.active .matadata_anchor p{
    background-color: green;
}
.tox-tbtn--active .tox-collection--list{
width:230px;
}
.tox-toolbar button:last-child .tox-tbtn__select-chevron{
    display:none
}
.slateTagClass svg{
   fill : #42a316;
}
.learningObjectiveContainer .heading2LearningObjectiveListHeaderLabel p {
    color: grey;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
}
.learningObjectiveContainer h2.heading2LearningObjectiveListHeaderLabel {
    line-height: 0.75em;
    margin: 0;
}
 