/* Multi column Container class */
/* .multi-column-container {
    display: flex;
    max-width: 100%;
    height: 100%;
} */

.multi-column-container {
    max-width: 100%;
    height: 100%;
    margin-right: 8px;
}
/* Scroller for list inside multi column */
.container-multi-column-group .element-container.ul ul[treelevel='1'], .container-multi-column-group .element-container.ol ol[treelevel='1']{
    overflow-y: unset;
    overflow-wrap: normal;
}
/* Common class for column groups */
.container-multi-column-group {
    /* width: 50%; */
    border-right: 1px solid black;
    padding-right: 5px;
}

/* Specific class for 1st column group */
.container-multi-column-group.column-1 {
    /* Phase 1 */
    padding-left: 6px;
    border-right: none;
}

/* Element container class specific to Multi-Column container */
.container-multi-column-group .element-container {
    max-width: 82%;
}
.container-multi-column-group.column-1 .element-container {
    max-width: 82%;
}

.container-multi-column-group.wider-50-50.column-1 .element-container, 
.container-multi-column-group.text-width-50-50.column-1 .element-container,
.container-multi-column-group.wider-50-50.column-0 .element-container, 
.container-multi-column-group.text-width-50-50.column-0 .element-container {
    max-width: 85%;
}
/* For audio tag inside multi-column */
.container-multi-column-group .element-container audio {
    width: 80%;
}

/* For CTA section of interactive external link, PDF */
.container-multi-column-group a.buttonWidgetPDF, .container-multi-column-group a.buttonWidgetPUSL {
    width: 100%;
}

/*style for element picker inside Multi-Column element*/
.container-multi-column-group .horizontalLine {
    margin-left: -4%;
    width: 100%;
}
.container-multi-column-group .dropdown {
    /* margin-left: -23px; */
    cursor: pointer;
}
.container-multi-column-group .elemDiv-expand{
    right: 2%;
}

/*************************Styling related to subtype**************************/

/* Subtype: wider-50-50 */
.container-multi-column-group.wider-50-50 {
    width: 50%;
}

/* Subtype: wider-60-40 */
.container-multi-column-group.wider-60-40.column-0 {
    width: 60%;
}
.container-multi-column-group.wider-60-40.column-1 {
    width: 40%;
}

/* Subtype: text-width-50-50 */
.container-multi-column-group.text-width-50-50 {
    width: 50%;
}
/* Subtype: text-width-60-40 */
.container-multi-column-group.text-width-60-40.column-0 {
    width: 60%;
}
.container-multi-column-group.text-width-60-40.column-1 {
    width: 40%;
}
.container-multi-column-group.wider-50-50 .singleAssessment_Dropdown_Container , .container-multi-column-group.wider-60-40 .singleAssessment_Dropdown_Container , .container-multi-column-group.text-width-60-40 .singleAssessment_Dropdown_Container {
    height: max-content;
}
.container-multi-column-group .assessment-metadata-container .assessment-metadata span{
    overflow-wrap: anywhere;
}
/***************************** 50-50 *****************************************/
/***** C1 & C2 *******/
/* For single asessment */
.container-multi-column-group.wider-50-50 .singleAssessment_Dropdown_SelectLabel, .container-multi-column-group.text-width-50-50 .singleAssessment_Dropdown_SelectLabel {
    width: 43%;
    padding-top: 2px;
}
.container-multi-column-group.wider-50-50 .assessment-metadata-container .assessment-metadata p.single-assessment-title {
    width: 75px;
    min-width: 75px;
}
/* For single asessment dropdown */
.container-multi-column-group.wider-50-50 .singleAssessment_Dropdown_activeDropdown, .container-multi-column-group.text-width-50-50 .singleAssessment_Dropdown_activeDropdown {
    width: 54%;
    margin-left: 7px;
}

.container-multi-column-group.wider-50-50 .singleAssessment_Dropdown_currentLabel, .container-multi-column-group.text-width-50-50 .singleAssessment_Dropdown_currentLabel {
    font-size: 12px;
}

/* For single asessment dropdown ul */
.container-multi-column-group.wider-50-50 .slate_assessment_type_dropdown_options, .container-multi-column-group.text-width-50-50 .slate_assessment_type_dropdown_options {
    width: 90%;
    height: 180px;
}

.container-multi-column-group.wider-50-50 .single-assessment-elm-update-container .elm-update-button.embedded-assessment{

    margin-top: 10px;
}
/***************/

/******************************************************************************/


/***************************** 60-40 *****************************************/
/***** C1 *****/
/* For single asessment */
.container-multi-column-group.wider-60-40 .singleAssessment_Dropdown_SelectLabel , .container-multi-column-group.text-width-60-40 .singleAssessment_Dropdown_SelectLabel  {
    width: 43%;
    padding-top: 2px;
}

.container-multi-column-group.wider-60-40.column-0 .assessment-metadata-container .assessment-metadata p.single-assessment-title,.container-multi-column-group.text-width-60-40.column-0 .assessment-metadata-container .assessment-metadata p.single-assessment-title  {
    width: 75px;
    min-width: 75px;
}

/* For single asessment dropdown */
.container-multi-column-group.wider-60-40 .singleAssessment_Dropdown_activeDropdown,.container-multi-column-group.text-width-60-40 .singleAssessment_Dropdown_activeDropdown {
    width: 54%;
    margin-left: 7px;
}

.container-multi-column-group.wider-60-40 .singleAssessment_Dropdown_currentLabel {
    font-size: 12px;
}

.container-multi-column-group.column-0 .element-container {
    max-width: 88%;
}

/* For single asessment Elm Status Div */
.container-multi-column-group.wider-50-50 .single-assessment-usagetype-container,.container-multi-column-group.wider-60-40.column-0 .single-assessment-usagetype-container,.container-multi-column-group.text-width-60-40.column-0 .single-assessment-usagetype-container {
    display: flex;
}

.container-multi-column-group.wider-50-50 .single-assessment-elm-update-container,.container-multi-column-group.wider-60-40.column-0 .single-assessment-elm-update-container,.container-multi-column-group.text-width-60-40.column-0 .single-assessment-elm-update-container {
    text-align: center;
    display: flex;
    margin-top: 5px;
}
.container-multi-column-group.wider-50-50 .single-assessment-elm-update-container .elm-status-div.embedded-assessment,
.container-multi-column-group.wider-50-50 .single-assessment-elm-update-container .elm-update-button.embedded-assessment,
.container-multi-column-group.wider-60-40.column-0 .single-assessment-elm-update-container .elm-status-div.embedded-assessment,
.container-multi-column-group.text-width-60-40.column-0 .single-assessment-elm-update-container .elm-status-div.embedded-assessment,
.container-multi-column-group.wider-60-40.column-0 .single-assessment-elm-update-container .elm-update-button.embedded-assessment {
    margin: 5px auto;
}

.container-multi-column-group.text-width-60-40.column-0 .element-container .container-aside .singleAssessment_Dropdown_currentLabel,
.container-multi-column-group.wider-60-40.column-0 .element-container .container-aside .singleAssessment_Dropdown_currentLabel {
    display: flex;
    margin: 0 13px 0 8px !important;
}
/************/

/***** C2 *****/
/* For single asessment */
.container-multi-column-group.wider-60-40.column-1 .singleAssessment_Dropdown_SelectLabel {
    width: 20%;
    margin-bottom: 10px;
}

.container-multi-column-group.wider-60-40.column-1 .assessment-metadata-container .assessment-metadata p.single-assessment-title {
    width: 75px;
    min-width: 75px;
}

.container-multi-column-group.text-width-60-40.column-1 .assessment-metadata-container .assessment-metadata p.single-assessment-title {
    width: 75px;
    min-width: 75px;
}

/* For single asessment Elm Status Div */
.container-multi-column-group.wider-50-50 .singleAssessment_Dropdown_activeDropdown.isElmUpdate,
.container-multi-column-group.wider-60-40.column-1 .singleAssessment_Dropdown_activeDropdown.isElmUpdate {
    margin-right: 0px;
}

.container-multi-column-group.text-width-60-40.column-1 .singleAssessment_Dropdown_activeDropdown.isElmUpdate {
    margin-right: 0px;
}
.container-multi-column-group.wider-60-40.column-1 .single-assessment-elm-update-container.has-update,.container-multi-column-group.text-width-60-40.column-1 .single-assessment-elm-update-container.has-update  {
    display: block;
}
.container-multi-column-group.wider-60-40.column-1 .single-assessment-elm-update-container,.container-multi-column-group.text-width-60-40.column-1 .single-assessment-elm-update-container {
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.container-multi-column-group.wider-60-40.column-1 .single-assessment-elm-update-container .elm-status-div.embedded-assessment,
.container-multi-column-group.wider-60-40.column-1 .single-assessment-elm-update-container .elm-update-button.embedded-assessment,
.container-multi-column-group.text-width-60-40.column-1 .single-assessment-elm-update-container .elm-status-div.embedded-assessment,
.container-multi-column-group.text-width-60-40.column-1 .single-assessment-elm-update-container .elm-update-button.embedded-assessment {
    margin: 5px auto;
}
.container-multi-column-group.wider-50-50 .single-assessment-elm-update-container .elm-update-button.embedded-assessment,
.container-multi-column-group.wider-60-40.column-1 .single-assessment-elm-update-container .elm-update-button.embedded-assessment,
.container-multi-column-group.text-width-60-40.column-1 .single-assessment-elm-update-container .elm-update-button.embedded-assessment {
    width: 85%;
}

/* For single asessment dropdown */
.container-multi-column-group.wider-60-40.column-1 .singleAssessment_Dropdown_activeDropdown {
    width: 73%;
    margin-left: 10px;
    margin-top: 14px;
}

.container-multi-column-group.wider-60-40.column-1 .singleAssessment_Dropdown_currentLabel {
    font-size: 10px;
}


.container-multi-column-group.wider-60-40.column-1 .element-container.qu, .container-multi-column-group.text-width-60-40.column-1 .element-container.qu {
    height: 50%;
}
/************/
/******************************************************************************/

/***************************** 60-40 *****************************************/
/***** C1 *****/
/* For single asessment */
.container-multi-column-group.text-width-60-40 .singleAssessment_Dropdown_SelectLabel {
    width: 43%;
    padding-top: 2px;
}

/* For single asessment dropdown */
.container-multi-column-group.text-width-60-40 .singleAssessment_Dropdown_activeDropdown {
    width: 54%;
    margin-left: 7px;
}

.container-multi-column-group.text-width-60-40 .singleAssessment_Dropdown_currentLabel {
    font-size: 12px;
}

/* For single asessment dropdown ul */
.container-multi-column-group.text-width-60-40 .slate_assessment_type_dropdown_options, .container-multi-column-group.wider-60-40 .slate_assessment_type_dropdown_options {
    width: 90%;
    max-height: 180px;
}
/************/

/***** C2 *****/
/* For single asessment */
.container-multi-column-group.text-width-60-40.column-1 .singleAssessment_Dropdown_SelectLabel {
    width: 20%;
    margin-bottom: 10px;
}

/* For single asessment dropdown */
.container-multi-column-group.text-width-60-40.column-1 .singleAssessment_Dropdown_activeDropdown {
    width: 72%;
    margin-left: 10px;
    margin-top: 14px;
}

.container-multi-column-group.text-width-60-40.column-1 .singleAssessment_Dropdown_currentLabel {
    font-size: 10px;
    margin:0;
}

/* For single asessment dropdown ul */
.container-multi-column-group.text-width-60-40.column-1 .slate_assessment_type_dropdown_options, .container-multi-column-group.wider-60-40.column-1 .slate_assessment_type_dropdown_options {
    width: 90%;
    max-height: 130px;
}

/************/
/******************************************************************************/
.container-multi-column-group .figureAssessment.figureAssessmentItem header {
    overflow-wrap: break-word;
}
.element-container.multi-column {
    padding-right: 0px !important;
    padding-left: 5px !important;
}

.container-multi-column-group .cypress-editable {
    overflow-wrap: anywhere;
}
.container-multi-column-group .singleAssessment_Dropdown_arrow{
    float: right;
    position: absolute;
    top: 20%;
    right: 10%;
    width: 8px;
}
/* For elm interactive multi column */
.container-multi-column-group.wider-60-40 .interactive-status>.eml-int-status-block,
.container-multi-column-group.wider-60-40.column-1 .interactive-status.cls-display-flex,
.container-multi-column-group.wider-50-50 .interactive-status>.eml-int-status-block,
.container-multi-column-group.text-width-50-50 .interactive-status>.eml-int-status-block,
.container-multi-column-group.text-width-60-40 .interactive-status>.eml-int-status-block,
.container-multi-column-group.text-width-60-40.column-1 .interactive-status.cls-display-flex {
    display: inline-table !important;
}
.container-multi-column-group.wider-60-40.column-1 .interactive-status .elm-update-button-text,
.container-multi-column-group.text-width-60-40.column-1 .interactive-status .elm-update-button-text {
   font-size: 12px;
}
.container-multi-column-group.wider-60-40.column-1 .interactive-status .elm-update-button,
.container-multi-column-group.text-width-60-40.column-1 .interactive-status .elm-update-button{
    width: 190px;
    margin: 5px 0px 5px 0px !important;
}
.container-multi-column-group.wider-60-40.column-1 .container-aside .elm-update-button{
    width: 146px !important;
}
.container-multi-column-group.wider-60-40.column-1 .interactive-status .eml-int-status-text-tm,
.container-multi-column-group.text-width-60-40.column-1 .interactive-status .eml-int-status-text-tm{
    margin: 7px 5px 0px 2px;
}
.container-multi-column-group.text-width-60-40.column-0 .interactive-status .elm-update-button,
.container-multi-column-group.wider-60-40.column-0 .interactive-status .elm-update-button {
    margin: 5px 5px 5px -45px !important;
}

.container-multi-column-group.text-width-50-50 .interactive-status .elm-update-button,
.container-multi-column-group.wider-50-50 .interactive-status .elm-update-button {
    margin: 5px 5px 5px -85px !important;
}

.container-multi-column-group.wider-60-40 .interactive-title strong,
.container-multi-column-group.wider-50-50 .interactive-title strong,
.container-multi-column-group.text-width-50-50 .interactive-title strong,
.container-multi-column-group.text-width-60-40 .interactive-title strong,
.container-multi-column-group.wider-60-40 .interactive-id strong,
.container-multi-column-group.wider-50-50 .interactive-id strong,
.container-multi-column-group.text-width-50-50 .interactive-id strong,
.container-multi-column-group.text-width-60-40 .interactive-id strong,
.container-multi-column-group.wider-60-40 .interactive-status strong,
.container-multi-column-group.wider-50-50 .interactive-status strong,
.container-multi-column-group.text-width-50-50 .interactive-status strong,
.container-multi-column-group.text-width-60-40 .interactive-status strong  {
    width: 115px;
    min-width: 115px;
    word-wrap: break-word;
}

/* ...............................3C................................. */
/*style for element picker inside Multi-Column element*/
.container-multi-column-group-3c .horizontalLine {
    margin-left: -1%;
    width: 100%;
}
.container-multi-column-group-3c .dropdown {
    cursor: pointer;
}
.container-multi-column-group-3c .elemDiv-expand{
    right: 1%;
}