.canvas-sidebar {
    padding: 25px 15px;
    background-color: #fafafa;
    overflow-y: auto;
    position: relative;
    height: 95%;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
}

.canvas-sidebar > .canvas-sidebar-heading {
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 25px;
    /* color: #424242; */
}

.canvas-sidebar-font-bullet-type {
    font-size: 13px;
    font-weight: 520;
    margin-bottom: -20px;  
}

.disableFontBullet {
  pointer-events:none;
  opacity: 0.5;
}

.canvas-sidebar .element-dropdown {
    position: relative;
}

.canvas-sidebar .element-dropdown .element-dropdown-title{
    width: 100%;
    border: 0 none;
    background: transparent;
    padding: 5px 0;
    font-size: 12px;
    margin: 24px 0;
    outline: none;
    position: relative;
    /* cursor: pointer; */
    border-bottom: 1px solid #e0e0e0;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.element-dropdown-title.smartlink-element-dropdown-title{
    margin: 0 0 24px 0 !important;
}

.canvas-sidebar .element-dropdown .element-dropdown-pod{
    width: 100%;
    border: 0 none;
    background: transparent;
    padding: 1px 0 5px 0;
    font-size: 12px;
    margin: 0 0 0px 29px;
    outline: none;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.canvas-sidebar .element-dropdown .element-dropdown-title:not(.st):not(.pe) *{
    cursor: pointer;
}

.element-dropdown-title.bce:not(.st):not(.pe) *{
    border-color: #A9A9A9;
    border-width: 1px; 
}
.element-dropdown-title.bce .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
    padding: 0.5px 0px !important;
}
.element-dropdown-title.bce .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-child {
    padding-left: 0px !important;
}
.element-dropdown-title.bce .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 8px !important;
    border-radius: 0 !important;
}
.element-dropdown-title.bce .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-right: 30px !important;
} 
.element-dropdown-title.bce .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    padding-left: 11px !important;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color: #434343 !important;
}
.element-dropdown-title.bce .MuiAutocomplete-inputRoot .MuiAutocomplete-input::placeholder {
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color: #434343 !important;
}
.element-dropdown-title.bce .MuiAutocomplete-option {
    padding-left: 6px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #434343 !important;
}
.element-dropdown-title.bce .MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.7rem !important;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.element-dropdown-title.bce .MuiAutocomplete-option[data-focus="true"] {
    background-color: #1565c0 !important;
    transition: all .2s ease-in-out !important;
    color: white !important;
}

.canvas-sidebar .element-dropdown .element-dropdown-title .dropdown-arrow {
    width: 8px;
    height: 8px;
    float: right;
    margin: 4px;
}
.canvas-sidebar .element-dropdown .element-dropdown-pod .dropdown-arrow {
    width: 8px;
    height: 8px;
    float: right;
    margin: 4px;
}

.canvas-sidebar .secondary-option.hidden {
    display: none;
}

.canvas-sidebar .element-dropdown .element-dropdown-content {
    font-size: 14px;
    padding: 8px 0;
    background: #fefefe;
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    margin-top: -24px;
    box-shadow: 0px 3px 4px -1px rgba(148, 148, 148, 0.45);
}

.canvas-sidebar .element-dropdown .element-dropdown-content.pod-options {
    margin-top: 7px !important;
}

.canvas-sidebar .element-dropdown .element-dropdown-content.active {
    display: block;
}

.canvas-sidebar .element-dropdown .element-dropdown-content > li {
    padding: 6px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
}

.canvas-sidebar .element-dropdown .element-dropdown-content > li:hover {
    background-color: #1565c0;
    transition: all .2s ease-in-out;
    color: white;
}

.canvas-sidebar .attributions {
    margin-top: 20px;
    font-size: 13px;
    font-weight: normal;
}

.canvas-sidebar .attributions .attribution-editor {
    width: 100%;
    min-height: 80px;
    margin: 5px 0;
    padding: 5px;
    resize: none;
    outline: none;
    background-color: white;
    border: 1px solid rgb(169, 169, 169); 
}
 
/* .toolbar-disabled .tox-toolbar__group{
    opacity: 0.2!important;
    pointer-events: none!important;
} */

.toggle-value-bce {
    float: left;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 4px;
}
.alt-Text-LineNumber{
    float: left;
    margin-Top: 20px;
}
.line-number{
    width: 209px;
    height: 26px;
}
.alt-Text-LineNumber input[type="number"]::-webkit-outer-spin-button,
.alt-Text-LineNumber input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.alt-Text-LineNumber input[type="number"] {
    -moz-appearance: textfield;
}

.lang-lbl {
    height: 0;
}

.lang-lbl label {
    color: red;
}
.canvas-sidebar .sidebar-disable{
    pointer-events: none;
}
.element-dropdown-title.disabled .dropdown-arrow,.element-dropdown.sidebar-disable .dropdown-arrow{
    opacity:0.2
}
.canvas-sidebar .element-dropdown .element-dropdown-title.disabled{
    cursor: default;
}
.printOnDemand{
    margin-top: 16px;
    display: inline-flex;
    width: 100%;
}
.pod-value{
    display: inline-block;
    width: 28px;
}
.element-dropdown-title.disabled{
opacity:0.4;
pointer-events: none;
}
.learnosity-disabled {
    pointer-events: none;
    opacity: .6;
    cursor: not-allowed !important;
    color: grey;
}

.asideNumberHeading{
    display: flex !important;
}

.toggleAsideNumber{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-right: 34px;
    font-family: Open Sans,sans-serif;
}

.asideSlider{
    width: 38px;
    height: 16px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    transition: all 1s linear;
}
.asideSlider:after {
    content: '';
    width: 22px;
    height: 22px;
    top: -3px;
    left: 0;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,0.85);
}
.asideSlider.on {
    background-color: rgba(0, 90, 112, 0.30);
}
.asideSlider.on.disabled-toggle {
    opacity: 0.5;
    pointer-events: none;
}
.asideSlider.on:after {
    left: 16px;
    background-color: #005A70;
}
.asideSlider.off {
    background-color: #CCC;
}
.asideSlider.off:after {
    left: 0;
    background-color: #FFF;
}

.asideSlider:before{
    background-color: none !important;
}

.element-dropdown .categories, .element-dropdown .sub-categories{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
}

.element-dropdown .sub-categories{
    margin-top: 24px;
}

.playback-dropdown{
    top: 75px;
}

.canvas-sidebar .element-dropdown .element-dropdown-title.intented-dropdown-banner {
    margin: 0 0 4px 0 !important;
}

.modalBanner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 209px;
    height: 40px;
    background: #DDE1E6;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.modalIcon{
    left: 20.83%;
    right: 25%;
    top: 4.17%;
    bottom: 4.17%;
    padding: 0 8px;
}

.modalText{
    width: 165px;
    height: 24px;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 9px !important;
    line-height: 12px !important;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}