.canvas-sidebar {
    padding: 25px 15px;
    background-color: #fafafa;
    overflow-y: auto;
    position: relative;
    height: 95%;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
}

.canvas-sidebar > .canvas-sidebar-heading {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
    /* color: #424242; */
}

.canvas-sidebar .element-dropdown {
    position: relative;
}

.canvas-sidebar .element-dropdown .element-dropdown-title{
    width: 100%;
    border: 0 none;
    background: transparent;
    padding: 5px 0;
    font-size: 12px;
    margin: 24px 0;
    outline: none;
    position: relative;
    /* cursor: pointer; */
    border-bottom: 1px solid #e0e0e0;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.canvas-sidebar .element-dropdown .element-dropdown-pod{
    width: 100%;
    border: 0 none;
    background: transparent;
    padding: 1px 0 5px 0;
    font-size: 12px;
    margin: 0 0 0px 29px;
    outline: none;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.canvas-sidebar .element-dropdown .element-dropdown-title:not(.st):not(.pe) *{
    cursor: pointer;
}

.canvas-sidebar .element-dropdown .element-dropdown-title .dropdown-arrow {
    width: 8px;
    height: 8px;
    float: right;
    margin: 4px;
}
.canvas-sidebar .element-dropdown .element-dropdown-pod .dropdown-arrow {
    width: 8px;
    height: 8px;
    float: right;
    margin: 4px;
}

.canvas-sidebar .secondary-option.hidden {
    display: none;
}

.canvas-sidebar .element-dropdown .element-dropdown-content {
    font-size: 14px;
    padding: 8px 0;
    background: #fefefe;
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    margin-top: -24px;
    box-shadow: 0px 3px 4px -1px rgba(148, 148, 148, 0.45);
}

.canvas-sidebar .element-dropdown .element-dropdown-content.pod-options {
    margin-top: 7px !important;
}

.canvas-sidebar .element-dropdown .element-dropdown-content.active {
    display: block;
}

.canvas-sidebar .element-dropdown .element-dropdown-content > li {
    padding: 6px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
}

.canvas-sidebar .element-dropdown .element-dropdown-content > li:hover {
    background-color: #1565c0;
    transition: all .2s ease-in-out;
    color: white;
}

.canvas-sidebar .attributions {
    margin-top: 20px;
    font-size: 13px;
    font-weight: normal;
}

.canvas-sidebar .attributions .attribution-editor {
    width: 100%;
    min-height: 80px;
    margin: 5px 0;
    padding: 5px;
    resize: none;
    outline: none;
    background-color: white;
    border: 1px solid rgb(169, 169, 169); 
}
 
.toolbar-disabled .tox-toolbar__group{
    opacity: 0.2!important;
    pointer-events: none!important;
}

.toggle-value-bce {
    float: left;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 4px;
}
.alt-Text-LineNumber{
    float: left;
    margin-Top: 20px;
}
.line-number{
    width: 209px;
    height: 26px;
}
.alt-Text-LineNumber input[type="number"]::-webkit-outer-spin-button,
.alt-Text-LineNumber input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.alt-Text-LineNumber input[type="number"] {
    -moz-appearance: textfield;
}

.lang-lbl {
    height: 0;
}

.lang-lbl label {
    color: red;
}
.canvas-sidebar .sidebar-disable{
    pointer-events: none;
}
.element-dropdown-title.disabled .dropdown-arrow,.element-dropdown.sidebar-disable .dropdown-arrow{
    opacity:0.2
}
.canvas-sidebar .element-dropdown .element-dropdown-title.disabled{
    cursor: default;
}
.printOnDemand{
    margin-top: 16px;
    display: inline-flex;
    width: 100%;
}
.pod-value{
    display: inline-block;
    width: 28px;
}