.printIndex-label{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.indexCloseIcon{
    float: left;
}
.marked-close-icon{
  cursor: pointer;
}
.index-container{
    width:240px;
    height: 100%;
    border-left:1px solid #eee;
}
.index-setting{
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    border-top: 2px solid #005a70;
    box-shadow: 1px 2px 3px #cccccc;
}
.index-body{
   padding: 5px 12px;
}
.index-text{
    display: flex;
    padding: 3px 0 8px 0;
}
.index-text span{
    padding-left: 5px;
}

.printIndx-cancel-button{
    border-radius: 4px;
    padding: 8px 22px;
    background: #fff;
    color: "#005a70";
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #dcdcdc;
  }

  .printIndx-cancel-button:hover {
    background: #def8ff;
    border: 1px solid #005a70;
  }
  .printIndex-save-button{
    border-radius: 4px;
    padding: 8px 22px;
    border: 1px solid #005a70;
    font-size: 13px;
    color: #fff;
    background: #005a70;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.printIndex-save-button.disabled {
    background: #b3d8e1;
    cursor: not-allowed;
    pointer-events: none;
    color: white;
    border: 1px solid #b3d8e1;
}

.printIndex-save-button:hover{
    background: #07313b;
}
.button-group {
    /* position: absolute; */
    /* right: 12px; */
    /* bottom: 15%; */
    margin-top: 40px;
    float: right;
}

.markedindex-word-header{
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.index-container .markedindex-word-title{
    padding: 10px 10px 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.markedindex-word-title .index-entry.markedindex-editor, .markedindex-secondlevel-label .sub-entry.markedindex-editor{
    font-size: 14px!important;
    margin: 8px 0 !important;
    padding: 13px 0px 0 2px !important;
    font-weight: 500;
    line-height: 1.5;
    color:#000;
    width: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

.markedindex-word-title, .markedindex-secondlevel-label {
    position: relative;
}

.markedindex-word-title .floating-title, .markedindex-secondlevel-label .floating-title{
    font-size: 14px;
    color: #737373;
    position: absolute;
    pointer-events: none;
    top: 32px;
    transition: all 0.1s ease;
    left:12px;
}

.index-entry:focus ~ .floating-title, .index-entry:not(:focus):valid ~ .floating-title,
.sub-entry:focus ~ .floating-title, .sub-entry:not(:focus):valid ~ .floating-title {
    top: 7px;
    bottom: 0px;
    font-size: 12px;
    opacity: 1;
    color: #333;
}

.markedindex-word-title .transition-none, .markedindex-secondlevel-label .transition-none {
    transition: none;
    top: 7px;
    left:12px;
    font-size: 12px;
    color: #737373;
    position: absolute;
}

.markedindex-editor {
    background-color: #eee;
    width: 90%;
    border: none;
    outline: none;
    margin: 0 11px 1px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.80em;
    letter-spacing: 0.01em;
    cursor:text;
}

.markedindex-secondlevel-header{
    background-color: #eee;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.index-container .markedindex-secondlevel-label{
    padding: 10px 10px 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.hide-markedinde-toolbar{
    display: none;
}