.stageDirectionItalicFont {
    font-style: italic!important;
}

.stageDirectionItalicFont.cypress-editable{
    min-height: 64px !important;
}

#startLineSetting {
    margin: 10px;
    color: #ddd
}

.play-script .cypress-editable.place-holder::before{
    margin-top : 0px !important;
}

.hideElement {
    display: none !important;
}