.switch {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 40px;
    margin-top: 8px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toolbar-container{
    width: calc(100% - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    float:left;
  }

  .elemBorderText{
    float: left;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 12px;
    cursor: not-allowed !important;
    color: gray !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;
  }

  .spacer {
    flex: 0.9;
  }

  .elem-page-number{
    padding-right: 20px;
  }

  .elemPageText{
    line-height: 15px;
    float: left;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 4px;
    cursor: not-allowed !important;
    color: gray !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;
  }

  .tox-editor-container .tox-toolbar{
    background: #ffffff !important;
    cursor: pointer;
  }
  .toggle-actions{
    display: inherit;
    position: absolute;
    right:40px;
  }
 
  .learningobjectivedropdown,.learningobjectivedropdown2 {
    color: black;
    position: absolute;
    width: 270px;
    overflow: auto;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

.learningobjectivedropdown li ,.learningobjectivedropdown2 li{    
  padding: 0 0 0 10px;
  cursor: pointer;
  margin:0;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: normal;
}
.learningobjectivedropdown li.disabled, .learningobjectivedropdown2 li.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
  color: gray;
}
.leaningobjective-block {
  cursor: pointer;
  padding: 0 10px 0 0;
}
.learningobjectivedropdown ul ,.learningobjectivedropdown2 ul{
  padding:0;
}
.slate-tag-icon, .audio{
  display:none;
}
.slate-tag-icon.disable{
  opacity: 0.3;
  cursor:not-allowed;
  pointer-events: none
}
.slate-tag-icon.enable{
  opacity: 1;
  cursor:pointer;
  pointer-events: auto
}

  .audio-block{
    /* height: 39px; */
    position: relative;
    z-index: 22;
    background: transparent;
}
.audioicon  {
  cursor: pointer;
}
.audioicon span {
  white-space: nowrap;
  
}
.audioicon.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.audioicon.tooltip .tooltiptext::after {
  content: none;
}
.audioicon.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 2px;
  padding: 1px 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 2;
  top: 30px;
  left: -17px;
  font-size: 11px;
  width: 60px;
}

.audiodropdown{
  color: black;
  position: absolute;
  background-color: white;
  /* width: 350px; */
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  cursor: default;
  padding: 10px !important;
}
.audioRemoveButton {
  background-color: #3298B5; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.audioRemoveRound {
  border-radius: 4px;
  float: right;
}
.audioReplaceeButton{
  background-color: #3298B5; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 8px;
  cursor: pointer
}

.disableToolbar{
  visibility: hidden;
}
button[title="Special Character"] .tox-tbtn__select-label,
button[title="Cross Linking"] .tox-tbtn__select-label {
  margin: 0;
}
span.answerLineContent {
  border-bottom: 1px solid black;
  width: 75px;
  display: inline-block;
  margin: 0px 2px;
  position: relative;
  bottom: 5px;
}
.tox .tox-tbtn--disabled, .tox .tox-tbtn--disabled:hover, .tox .tox-tbtn:disabled, .tox .tox-tbtn:disabled:hover{
  opacity: 0.34!important;
  cursor:not-allowed!important
}
.tox .tox-tbtn--enabled{
  background-color: #ffffff!important;
}
.tox .tox-tbtn--enabled :not(svg) {
  fill: #005a70!important;
}
.tox .tox-tbtn:hover:not(.tox-tbtn--disabled) {
  background: none!important;
}
div[title="Ordered List"] span.tox-tbtn__icon-wrap svg {
  margin-left: 5px;
}
div[title="Ordered List"].tox-split-button:hover {
  box-shadow: none!important;
}
div[title="Ordered List"].tox-split-button:focus {
  background: none!important;
}
div[title="Ordered List"] .tox-tbtn.tox-split-button__chevron:active{
  background: none!important;
}
div[title="Ordered List"] .tox-tbtn.tox-split-button__chevron:focus{
  background: none!important;
}
div[title="Ordered List"] span.tox-split-button__chevron svg {
  width : 15px;
  margin-right: 5px;
}
div[title="Ordered List"] span.tox-split-button__chevron svg:focus {
  background: #d4eae4!important;
}
div[title="Ordered List"] span.tox-split-button__chevron svg:active {
  background: #d4eae4!important;
}
.tox .tox-tbtn:active {
  background: none!important;
}
.tox .tox-tbtn:focus {
  background: none!important;
}
.tox .tox-tbtn:hover:not(.tox-tbtn--disabled) svg, .learningobjectiveicon:hover svg,.audioicon:hover svg{
  background-color: #f3f7f8!important;
}
.tox .tox-tbtn--enabled svg {
  background-color: #d4eae4!important;
}
.tox .tox-split-button:hover{
  box-shadow: 0 0 0 0 #dee0e2 inset!important;
}
.tox-menu.tox-collection.tox-collection--list.tox-selected-menu{
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border: 0;
}
button[aria-label="formatSelector"] span.tox-tbtn__select-label,button[aria-label="insertMedia"] span.tox-tbtn__select-label{
  min-width : 126px!important;
  cursor:pointer!important;
  overflow-wrap: normal;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: clip;
  font-family: 'Open Sans',sans-serif;
}
button[aria-label="insertMedia"] span.tox-tbtn__select-label{
  min-width : 70px!important;
}
button[aria-label="formatSelector"].tox-tbtn--select{
  max-width : 162px!important;
  border-radius:0; 
}
button[aria-label="insertMedia"].tox-tbtn--select{
  max-width : 100px!important;
  border-radius:0; 
}
.tox .tox-collection--list .tox-collection__group{
  padding:0!important
}
.tox-collection--list .tox-collection__item-label{
  font-family: 'Open Sans',sans-serif;
  margin-left: 0!important ;
}
.tox button[aria-label="formatSelector"].tox-tbtn:hover:not(.tox-tbtn--disabled),.tox button[aria-label="insertMedia"].tox-tbtn:hover:not(.tox-tbtn--disabled){
  background-color: #f3f7f8!important;
}
.side-icons{
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 16px;
}
.side-icons .icon {
  margin-left: 13px;
}
.side-icons .icon svg{
  cursor: pointer;
}
.editor-toolbar .tox-toolbar__group{
  cursor:default!important;
  height:32px!important
}
.tox-tbtn{
  cursor:pointer!important;
}
.tox-collection__item-label{
    font-size: 16px!important;
    line-height: 2.5!important;
    letter-spacing: normal;
    color: #000000!important;
}
.tox .tox-collection--list .tox-collection__item {
  padding: 0 10px!important;
}
.tox-tbtn__select-label{
  font-size: 16px!important;
  line-height: 2!important;
  color: #000000!important;
}
.tox-tbtn--select.tox-tbtn--active{
  background:#d4eae4!important
}
.tox-tbtn--select.tox-tbtn--active .tox-tbtn__select-label{
  color:#005a70!important;
}
.editor-toolbar .tox .tox-tbtn{
  height:32px!important;
  margin:0!important;
}
.editor-toolbar .tox-editor-container{
  height:32px!important;
}
.editor-toolbar .tox .tox-split-button{
  margin:0!important;
}
.editor-toolbar .tox-toolbar__group .tox-tbtn:hover .tox-tbtn--select{
  background-color: #f3f7f8!important;
}
.tox-tbtn--select .tooltip-text, .navigation-content .tooltip-text{
  position: fixed;
  top: 40px;
  font-size: 10px;
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 3px;
  white-space: normal;
  cursor: default;
  color: #fff;
  display:none;
  line-height: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
button[aria-label="formatSelector"].tox-tbtn--select:hover .tooltip-text,.navigation-content:hover .tooltip-text,button[aria-label="insertMedia"].tox-tbtn--select:hover .tooltip-text{
  display:block;
}
.navigation-content .tooltip-text{
position: absolute;
display: none;
z-index: 99;
top: 102px;
}
.navigation-content .tooltip-text.back{
  left:-8px;
  }
.tooltip-text:after {
  content: "";
  height: 0px;
  width: 0px;
  z-index: 10;
  position: absolute;
  border-width: 3px;
  border-style: solid;
  bottom: 100%;
  left: 40%;
  border-color: transparent transparent rgba(0, 0, 0, 0.65);
}
#toolbarGlossaryFootnote svg.math-chem-margin{
margin-left:6px;
}
.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type), .editor-toolbar .tox-toolbar__group:last-child{
  border-right: 0.5px solid #ccc!important;
}
.learningobjectiveicon, .audioicon{
  width:24px;
  height:24px;
  position: relative;
}
@media only screen and (max-width: 3000px) {  
  .audiodropdown, .learningobjectivedropdown{
    right:0;
  }
}
@media only screen and (max-width: 1300px) {
  .artboard-parent{
    margin: 0!important;
    padding-left: 150px;
    width:100%!important;
  }
}

/******************************** Search Component UI ****************************************************/

.editor-toolbar.popup .search-urn {
  display: none;
}
.search-wrapper {
  top: 0;
  right: 46px;
  height: 49px;
  width: 0;
  opacity: 0;
  z-index: 25;
  position: absolute;
  transition: all 0.1s;
}
.search-wrapper.active {
  width: 594px;
  opacity: 1;
}
.search-wrapper .search-element {
  height: 35px;
  margin: 6px 0;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #005a70;
  border-radius: 3px;
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.45);
}
.search-wrapper .search-element .selector {
  width: 80px;
  height: 100%;
  color: #fff;
  float: left;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005a70;
}
.search-wrapper .search-element .search-input {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  width: calc(100% - 163px);
}
.search-wrapper .search-element .search-input input{
  height: 100%;
  width: 100%;
  border: 0 none;
  padding: 8px;
  font-size: 14px;
  outline: none;
}
/* .icon.search-urn.popup .search-wrapper .search-element .search-input input {
  pointer-events: none;
} */
.search-wrapper .search-element .search-input .search-index {
  height: calc(100% - 16px);
  padding-right: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: default;
  border-right: 1px solid #777777;
}
.search-wrapper .search-element .actions {
  float: right;
  height: 100%;
  display: flex;
  margin-right: 2px;
  justify-content: flex-end;
}
.search-wrapper .search-element .actions .action-item {
  display: flex;
  margin-right: 2px;
  align-items: center;
}
.search-wrapper .search-element .actions .action-item.disabled {
  opacity: 0.45;
  pointer-events: none;
}

.glossary-audiodropdown{
  left:0;
  top:0;
  width: 325px; 
  color: black;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  cursor: default;
  padding: 10px !important;
}

.glossary-audiodropdown audio{
  width:100% !important
}

@media only screen and (max-width: 1500px) {
    .learningobjectivedropdown2 {
      left: -10px;
    }
  }