.switch {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 40px;
    margin-top: 8px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toolbar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%
    /* border: solid 1px #e0e0e0; */
  }

  .elemBorderText{
    float: left;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 12px;
    cursor: not-allowed !important;
    color: gray !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;
  }

  .spacer {
    flex: 0.9;
  }

  .elem-page-number{
    padding-right: 20px;
  }

  .elemPageText{
    line-height: 15px;
    float: left;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 4px;
    cursor: not-allowed !important;
    color: gray !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;
  }

  .tox-editor-container .tox-toolbar{
    background: #ffffff !important;
    cursor: pointer;
  }
  .toggle-actions{
    display: inherit;
    position: absolute;
    right:40px;
  }
 
  .learningobjectivedropdown {
    color: black;
    position: absolute;
    width: 233px;
    overflow: auto;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

.learningobjectivedropdown li {
  padding: 6px 0 6px 10px;
  cursor: pointer;
  margin:0
}
.learningobjectivedropdown li.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
  color: gray;
}
.leaningobjective-block {
  cursor: pointer;
  padding: 0 16px 0 0;
}
.learningobjectivedropdown ul {
  padding:0;
}
.slate-tag-icon, .audio{
  display:none;
}
.slate-tag-icon.disable{
  opacity: 0.3;
  cursor:not-allowed;
  pointer-events: none
}
.slate-tag-icon.enable{
  opacity: 1;
  cursor:pointer;
  pointer-events: auto
}

  .audio-block{
    /* height: 39px; */
    position: relative;
    z-index: 22;
    background: transparent;
}
.audioicon  {
  cursor: pointer;
}
.audioicon span {
  white-space: nowrap;
  
}
.audioicon.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.audioicon.tooltip .tooltiptext::after {
  content: none;
}
.audioicon.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 2px;
  padding: 1px 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 2;
  top: 30px;
  left: -17px;
  font-size: 11px;
  width: 60px;
}

.audiodropdown{
  color: black;
  position: absolute;
  background-color: white;
  /* width: 350px; */
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  cursor: default;
  padding: 10px !important;
}
.audioRemoveButton {
  background-color: #3298B5; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.audioRemoveRound {
  border-radius: 4px;
  float: right;
}
.openAudioIcon{
    height: 7px;
    width: 7px;
    background: #0D8604;
    position: absolute;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: -23px;
}

.disableToolbar{
  visibility: hidden;
}

button[title="Cross Linking"] .tox-tbtn__select-label {
  margin: 0;
}
.tox .tox-tbtn--disabled, .tox .tox-tbtn--disabled:hover, .tox .tox-tbtn:disabled, .tox .tox-tbtn:disabled:hover{
  opacity: 0.34!important;
}
.tox .tox-tbtn--enabled{
  background-color: #ffffff!important;
}
.tox .tox-tbtn--enabled :not(svg) {
  fill: #005a70!important;
}
.tox .tox-tbtn:hover:not(.tox-tbtn--disabled) {
  background: none!important;
}
.tox .tox-tbtn:hover:not(.tox-tbtn--disabled) svg {
  background-color: #f3f7f8!important;
}
.tox .tox-tbtn--enabled svg {
  background-color: #d4eae4!important;
}
.tox-menu.tox-collection.tox-collection--list.tox-selected-menu{
  overflow : hidden!important;
  max-height: none!important;
}
button[title="formatSelector"] span.tox-tbtn__select-label{
  min-width : 145px!important
}