* {
    box-sizing: border-box;
}

*, html {
    padding: 0;
    margin: 0;
}

body {
    line-height: normal;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

.incorrect-data {
    color: red;
    display: flex;
    padding: 15px;
}

.--hr-loading {
    margin: 25px 0px;
}

.--hr-loading span.--sm-hr-loading {
    display: block;
    background: #d1d1d1;
    margin-bottom: 5px;
    font-size: 14px;
    color: transparent;
    width: 40%;
    animation: hr-loading 1s infinite linear;
    -webkit-animation: hr-loading 1s infinite linear;
}

.--hr-loading.sm span.--sm-hr-loading {
    font-size: 10px;
}

.--hr-loading span.--lg-hr-loading {
    display: block;
    background: #d1d1d1;
    margin-bottom: 5px;
    font-size: 14px;
    color: transparent;
    width: 100%;
    animation: hr-loading 1s infinite linear;
    -webkit-animation: hr-loading 1s infinite linear;
}

.--hr-loading.sm span.--lg-hr-loading {
    font-size: 10px;
}

@-webkit-keyframes hr-loading {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

@keyframes hr-loading {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

/* --------------------------------------------------------- */

h1, h2, h3, h4, h5, p {
    font-family :Arial, Helvetica, sans-serif;
    color: #3e3e3e;
}
table p {
    font-family :Arial, Helvetica, sans-serif;
    color: unset !important;
}

.description {
    font-size: 14px;
    color: #9e9e9e;
}

.awful-selfie {
    background: url(../images/logo.png);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.cypress-editable.place-holder::before{
    content: attr(placeholder);
    color: #ADADAD; 
    display: block;
    position : absolute;
    margin-top : 7px;
}
.cypress-editable.pullquote-editor.place-holder::before{
    margin-top : 15px !important;
}
.cypress-editable.blockquote-editor.place-holder::before{
    margin-top: 54px;
    margin-left: 34px;
}
.element-container.lo .cypress-editable.place-holder::before {
    font-size: 18px !important;
    margin-top: 0px !important;
}
.mce-offscreen-selection{
    display:none !important;
}

.container-multi-column-group.wider-60-40.column-1 .element-container.h1 .cypress-editable.place-holder::before, .container-multi-column-group.text-width-60-40.column-1 .element-container.h1 .cypress-editable.place-holder::before {
    font-size: 23px !important;
    margin-top: -9px !important;
}
.element-container.h1 .cypress-editable.place-holder::before {
    font-size: 23px !important;
    margin-top: 2px !important;
}
.element-container.h2 .cypress-editable.place-holder::before {
    font-size: 16px !important;
    margin-top: 3px !important;
}
.element-container.h3 .cypress-editable.place-holder::before {
    font-size: 15px !important;
    margin-top: 3px !important;
}
.element-container.h4 .cypress-editable.place-holder::before {
    font-size: 15px !important;
    margin-top: 3px !important;
}
.element-container.h5 .cypress-editable.place-holder::before {
    font-size: 14px !important;
    margin-top: 1px !important;
}
.element-container.h6 .cypress-editable.place-holder::before {
    font-size: 14px !important;
    margin-top: 0px !important;
}
.element-container.ct .cypress-editable.place-holder::before {
    /* font-size: 14px !important; */
    margin-top: 3px !important;
    margin-left: 3px;
}

.definition-editor.place-holder::before{
    content: attr(placeholder);
    color: #ADADAD; 
    display: block;
    position : absolute;
}
.fa {
    display: inline-block !important;
    /* font: normal normal normal 14px/1 FontAwesome  !important; */
    font-size: inherit  !important;
    text-rendering: auto  !important;
    -webkit-font-smoothing: antialiased  !important;    
    -moz-osx-font-smoothing: grayscale  !important;
}
i.fa.fa-asterisk,.fa .fa-bookmark {
    display: block  !important;
    font-size: 14px  !important;
    width: 14px  !important;
    text-align: center  !important;
    float: none  !important;
 }
 .fa-bookmark:before {
    content: "\F02E";
}
.fa-asterisk:before {
    content: "\F069";
}
.fa-code:before {
    content: "\f121";
    font-weight: bold !important;
    display: block  !important;
    font-size: 16px  !important;
    text-align: center  !important;
    float: none  !important;
}

.mce-content-body [data-mce-selected=inline-boundary] {
    background-color: transparent !important;
}

.toolbar-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.34
}

#tinymceToolbar .tox-toolbar.disable {
    opacity: 0.4;
    cursor: not-allowed !important;
}

#tinymceToolbar .tox-toolbar.disable button.tox-tbtn {
    /* cursor: not-allowed !important; */
    pointer-events: none !important;
}

#toolbarGlossaryFootnote .tox-toolbar.disable {
    opacity: 0.4;
    cursor: not-allowed !important;
}

#toolbarGlossaryFootnote .tox-toolbar.disable button.tox-tbtn {
    pointer-events: none !important;
}

.noSeparatorContainer{
    margin-bottom: 18px;
}

#tinymceToolbar {
    display:inline-block;
    padding: 8px 9px 8px 0;
}

#tinymceToolbar .tox .tox-collection--list .tox-collection__item[title="Figure Link"],
#tinymceToolbar .tox .tox-collection--list .tox-collection__item[title="Slate Link"] {
    width: 100px;
}

P.paragraphNumeroUnoIndentLevel1, P.paragraphNumeroUnoIndentLevel2, P.paragraphNumeroUnoIndentLevel3{
    font-size: 100% !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0px;
    font-family: Georgia, serif, Palatino, Palatino Linotype, Palatino LT STD !important;
}

.paragraphNumeroUnoIndentLevel1 {
    padding-left: 40px !important;
}

.paragraphNumeroUnoIndentLevel2 {
    padding-left: 80px !important;
}

.paragraphNumeroUnoIndentLevel3 {
    padding-left: 120px !important;
}

.learningobjectivedropdown li:hover, .learningobjectivedropdown2 li:hover {
    background-color: #efefef;
    font-family: 'Open Sans',sans-serif;
    cursor: pointer;
}
.learningobjectivedropdown li.disable-buttton, .learningobjectivedropdown2 li.disable-buttton, .option-disabled{
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
    color: gray;
}
/* .mce-content-body .Wirisformula[data-custom-editor="chemistry"]{
    vertical-align: -1px!important;
} */

.reviewer-role .Wirisformula,.reviewer-role .temp_Wirisformula {
    pointer-events: none;
}
table code {
    color: unset !important;
}

/*  Cross Link Content Design  */

/* abbr[title="Slate Link"] {
    padding-right: 15px;
} */
abbr[title="Slate Link"]:not(.sup):not(.sub)::after,
abbr[title="Slate Link"] sub::after,
abbr[title="Slate Link"] sup::after {
    content: url('./../images/PageLink/link.svg');
    height: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1px;
    margin: 0 auto;
    padding: 0 2px;
    position: relative;
    text-decoration: underline dotted;
    border-bottom: 1.1px dotted #007FA3;
}
dfn[audio-id]:not(.sup):not(.sub)::after,
dfn[audio-id] sub::after,
dfn[audio-id] sup::after {
    content: url('./../images/GlossaryAudio/audioEnable.svg');
    top: 3px;
    right: 0;
    left: 0;
    bottom: 1px;
    margin: 0 auto;
    padding: 0 2px;
    position: relative;
    background: transparent;
}
/*  Cross Link dropdown color Design  */
.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled){
    background-color: #efefef !important;
}

.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) .tox-collection__item-label{
    color: #000000 !important;
}
p code, ul code, ol code{
    color: inherit;
}

/******* Alfresco Windo ***********/
.overlay-0-0.overlayLittle-0-1 {
    align-items: initial;
}
.overlay-0-0.overlayLittle-0-1 div[class^="modal-"] {
    margin: auto;
}
.Wirisformula, .temp_Wirisformula{
    color: red !important;
}
.wrs_editor .wrs_font_inherit{
    font-family: 'Conv_stix', Arial, Helvetica, sans-serif !important;
}

.mce-content-body:not([dir=rtl])[data-mce-placeholder]:not(.mce-visualblocks)::before{
    left: inherit !important;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
    color: #ADADAD !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    border: none !important;
}
.tox-editor-container>:first-child {
    border-left: none;
}

table:not([cellpadding]) td, table:not([cellpadding]) th {
    padding: 0 !important;
}

.tox.tox-tinymce--toolbar-bottom .tox-editor-header, .tox.tox-tinymce-inline .tox-editor-header {
    border: none !important;
}



/*  Callout Content Design  */

span[title="callout1"]:not(.sup):not(.sub)::after,
span[title="callout1"] sub::after,
span[title="callout1"] sup::after {
    content: url('./../images/Callout/callout1.svg');
    height: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1px;
    padding: 0 2px;
    position: relative;
    text-decoration: underline dotted;
    border-bottom: 1.1px dotted #007FA3;
}

span[title="callout2"]:not(.sup):not(.sub)::after,
span[title="callout2"] sub::after,
span[title="callout2"] sup::after {
    content: url('./../images/Callout/callout2.svg');
    height: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1px;
    padding: 0 2px;
    position: relative;
    text-decoration: underline dotted;
    border-bottom: 1.1px dotted #007FA3;
}



span[title="callout3"]:not(.sup):not(.sub)::after,
span[title="callout3"] sub::after,
span[title="callout3"] sup::after {
    content: url('./../images/Callout/callout3.svg');
    height: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1px;
    padding: 0 2px;
    position: relative;
    text-decoration: underline dotted;
    border-bottom: 1.1px dotted #007FA3;
}


span[title="callout4"]:not(.sup):not(.sub)::after,
span[title="callout4"] sub::after,
span[title="callout4"] sup::after {
    content: url('./../images/Callout/callout4.svg');
    height: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1px;
    padding: 0 2px;
    position: relative;
    text-decoration: underline dotted;
    border-bottom: 1.1px dotted #007FA3;
}


.callout1{
    color:#007FA3;
    border-bottom: 1.1px dotted #007FA3;
}

.callout2{
    color:#007FA3;
    border-bottom: 1.1px dotted #007FA3;
}

.callout3{
    color:#007FA3;
    border-bottom: 1.1px dotted #007FA3;
}

.callout4{
    color:#007FA3;
    border-bottom: 1.1px dotted #007FA3;
}