* {
    box-sizing: border-box;
}

*, html {
    padding: 0;
    margin: 0;
}

body {
    line-height: normal;
    margin: 0 !important;
    padding: 0 !important;
}

.--hr-loading {
    margin: 25px 0px;
}

.--hr-loading span.--sm-hr-loading {
    display: block;
    background: #d1d1d1;
    margin-bottom: 5px;
    font-size: 14px;
    color: transparent;
    width: 40%;
    animation: hr-loading 1s infinite linear;
    -webkit-animation: hr-loading 1s infinite linear;
}

.--hr-loading.sm span.--sm-hr-loading {
    font-size: 10px;
}

.--hr-loading span.--lg-hr-loading {
    display: block;
    background: #d1d1d1;
    margin-bottom: 5px;
    font-size: 14px;
    color: transparent;
    width: 100%;
    animation: hr-loading 1s infinite linear;
    -webkit-animation: hr-loading 1s infinite linear;
}

.--hr-loading.sm span.--lg-hr-loading {
    font-size: 10px;
}

@-webkit-keyframes hr-loading {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

@keyframes hr-loading {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

/* --------------------------------------------------------- */

h1, h2, h3, h4, h5, p {
    font-family: helvetica;
    color: #3e3e3e;
}

.description {
    font-size: 14px;
    color: #9e9e9e;
}

.awful-selfie {
    background: url(../images/logo.png);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


.cypress-editable span:empty::before {
    content: attr(placeholder);
    color: #ADADAD; 
    display: block;
}

/* .content-editor:before {
    display: block;
}

.content-editor.empty:before {
    display: block;
    position: absolute;
    content: attr(placeholder);
} */

/* .cypress-editable[contenteditable]:focus::before {
    content: attr(placeholder);
    color: #ADADAD; 
    display: block;
} */

/* [placeholder]:empty:focus::before {
    content: "";
} */

/* 
.cypress-editable[contenteditable]:empty:before {
    content: attr(placeholder);
    display: block;
    font-size: 13px;
    color: #888888;
    cursor: text;
} */
.fa {
    display: inline-block !important;
    font: normal normal normal 14px/1 FontAwesome  !important;
    font-size: inherit  !important;
    text-rendering: auto  !important;
    -webkit-font-smoothing: antialiased  !important;    
    -moz-osx-font-smoothing: grayscale  !important;
}
i.fa.fa-asterisk,.fa .fa-bookmark {
    display: block  !important;
    font-size: 14px  !important;
    width: 14px  !important;
    text-align: center  !important;
    float: none  !important;
 }
 .fa-bookmark:before {
    content: "\F02E";
}
.fa-asterisk:before {
    content: "\F069";
}
