.footnote-sidebar {
    display:block;
    z-index: 10000;
    padding: 25px 15px;
    background-color: #fafafa;
    overflow-y: auto;
    position: relative;
    height: 100vh;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
}

.canvas-sidebar.open-glosssary{
    z-index: 1000;
}