* {
    box-sizing: border-box;
  }
  .clr{
    clear: both;
  }
  .AssessmentSlateCanvas{
    height: 500px;
    margin: 0;
  }
  div.element-container .AssessmentSlateCanvas,  div.element-container.active .AssessmentSlateCanvas{
    background-color: #f5f5f5;
  }
  .AssessmentSlateMenu .addLOdata{
    display:none;
  }
  .slate_assessment_container{
    background-color: #f5f5f5;
    padding: 5px;
    border-style: none;
    border-color: #FFFFFF;
    border-width: 0px;
    max-width: 700px;
    height: 500px;
  }
  .slate_initial_selection{
    margin: 0px 140px!important;
    padding: 120px 0;
    position: relative;
  }
  .slate_assessment_type_label{
    font-size: 16px;
    color: #424242;
    text-align: center;
  }
  .slate_assessment_type_dropdown{
    padding: 8px;
    cursor: pointer;
    position: relative;
    width: 200px;
    border-radius: 18px;
    border: solid 1px #a9a9a9;
    background-color: #ffffff;
    margin-left: auto;
  }
  .slate_assessment_dropdown_label{
    float:left;
    font-size: 14px;
    color: #606060;
    margin-left: 8px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .slate_assessment_dropdown_image{
    position: relative;
    top: 7px;
    right: 8px;
    float: right;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #424242;
    vertical-align: middle;
  }
  .slate_assessment_type_dropdown_options{
    position: absolute;
    max-height:220px;
    overflow:auto;
    position: absolute;
    width: 180px;
    margin-top: 9px;
    z-index: 9;
    padding: 0;
  }

  li.slate_assessment_dropdown_name{
      list-style: none;
      padding:10px;
      background-color: #fff;
      cursor: pointer;
      margin: 0px !important;
  }
  li.slate_assessment_metadata_dropdown_name{
    list-style: none;
    padding:10px;
    background-color: #fff;
    cursor: pointer;
    margin: 0px !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #252525;
    font-family: 'Open Sans',sans-serif;

  }
  .slate_assessment_dropdown_name:hover, .slate_assessment_metadata_dropdown_name:hover { 
    background-color: #1565c0;
    color:#fff;
  }
  .slate_assessment_type_button{
    margin: 36px auto 0;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    background-color: #005a70;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 200px;
  }

  .slate_fetch_canvas{
    margin: 0px 10px 0px 100px;
    padding: 100px 0 0 0;
  }
  .slate_fetch_canvas .assessment-label{
    float: left;
    width: 25%;
    font-weight: normal;
  }
  .slate_fetch_canvas .slate_assessment_type_dropdown{
    margin-left: 0;
  }
  .slate_assessment_data_container{
    margin-bottom: 30px;
  }
  .slate_assessment_data_content{
    width:100%;
    color: #424242;
  }
  .slate_assessment_data_label{
    float: left;
    width: 25%;
    font-size: 14px;
    
  }
  .slate_assessment_data_details{
    float: left;
    width: 75%;
  }
  .slate_assessment_data_title{
    overflow:hidden;
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    
  }
  .slate_assessment_data_title:hover{
    overflow: visible; 
    white-space: normal; 
    height:auto; 
  }

  .slate_assessment_data_id{
    font-size: 14px;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }
  .slate_assessment_data_id:hover{
    overflow: visible; 
    white-space: normal; 
    height:auto; 
  }
  .slate_assessment_change_button{
    font-size: 13px;
    color: #424242;
    border-bottom: 1px solid #424242;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
  }

  .slate_assessment_metadata_type_selectlabel{
    width:25%;
    float:left;
    font-size: 13px;
    color: #424242;
  }
  .slate_assessment_metadata_type_dropdown {
    width: 36%;
    float: left;
    border: 1px solid #c0c0c0;
    border-radius: 25px;
    background: #fff;
    padding: 8px;
    cursor: pointer;
    position: relative;
  }

.slate_popup_get_image{
  background: url(../../images/AssessmentSlateCanvas/success_icon.png) no-repeat;
  width: 130px;
  height: 110px;
  margin: 0 105px;
}
.slate_popup_get_title{
  font-size: 18px;
    font-weight: 600;
    color: #424242;
}
.slate_popup_get_added{
  font-size: 16px;
  color: #424242;
}
.slate_popup_get_selection {
  margin: 0px 170px 100px 170px;
  padding: 100px 0 0 0;
  width: 344px;
  text-align: center;
}


/*single assessment metadata*/

.single_assessment_metadata_type_selectlabel{
  width: 120px;
  float: left;
  font-size: 13px;
  color: #424242;
  position: relative;
  top: 6px;
}
.single_assessment_metadata_type_dropdown {
  width: 200px;
  float: left;
  border: 1px solid #c0c0c0;
  border-radius: 25px;
  background: #fff;
  padding: 8px;
  cursor: pointer;
  position: relative;
}
.single_assessment_metadata_type_dropdown_options{
  position: absolute;
  margin-left: 95px;
  width: 202px;
  margin-top: 10px;
  max-height:220px;
  display: flex;
  overflow:auto;
  z-index:9;
}
.single_assessment_metadata_dropdown_label{
  float:left;
  font-size: 14px;
  color: #606060;
  margin-left: 8px;
  text-transform: capitalize;
}

.slate_assessment_data_details .slate_assessment_data_id_lo,.slate_assessment_data_details .slate_assessment_data_format_lo{
  display: none;
}

div.elm-update-button {
  margin: 30px 0px 20px 142px;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #007fa3;
  /* padding-top: 9px;
  padding-bottom: 11px; */
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

div.elm-update-button b.elm-update-button-text {
  padding-top: 9px;
  margin-top: 10px;
  padding-bottom: 11px;
  /* width: 200px; */
  /* height: 16px; */
  text-align: center;
  /* text-transform: uppercase; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: 0.75px;
  text-align: center;
  color: #ffffff;
}


span.approved-button {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-top: 3px;
}

span.approved-button.disable svg path#path2 {
  opacity: 0.2;
  background-color: #000000;
}

span.approved-button.enable svg path#path2 {
  fill: #15850c;
}

.elm-status-div p.approved-button-text {
  padding-top: 8px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.elm-status-div p.approved-button-text.enable {
  color: #15850c;
}

.elm-status-div p.approved-button-text.disable {
  opacity: 0.7;
  color: rgba(0, 0, 0, 0.8);
}

.elm-status-div {
  display: flex;
  margin: 30px 0 20px 142px;
}

.show-update#link-notification{
  display: block;
}
.assessment-label{
  font-size: 14px;
  font-weight: 600;
  color: #424242;
  display: inline;
}
.slate_assessment_metadata_container, .assessment-parent{
  display: flex;
  align-items: center;
  position:relative;
}
.slate_assessment_metadata_container{
  margin: 0 0 16px;
}
.assessment-parent.disabled .assessment-label,.assessment-parent.disabled .slate_assessment_dropdown_label{
  color:#999999;
}
.assessment-parent.disabled .slate_assessment_dropdown_image{
  border-top: 4px solid #999999;
}
.slate_assessment_type_button.disabled{
  background-color: #cccccc;
  color: #808080;
  cursor: not-allowed;
  pointer-events:none;
}
.assessment-label .required,.singleAssessment_Dropdown_SelectLabel .required{
  color:#ff0000;
}
.assessment-parent.disabled .slate_assessment_type_dropdown{
  border: solid 1px #c1c1c1;
  cursor:not-allowed;
  pointer-events:none;
}