.content-composer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#editor-toolbar {
    width: 100%;
    min-height: 54px;
    margin: 0 auto;
    background: #ffffff;
    border-bottom: solid 1px #e0e0e0;
    position: relative;
    z-index: 1;
}

.workspace {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100vw;
    background-color: #fafafa;
}

.content-composer .workspace .canvas {
    flex: 2;
    overflow: hidden;
    min-width: 768px;
    padding: 16px 16px 16px 40px;
    background-color: #fafafa;
    float: left;
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}

#artboard-containers {
    height: 100%;
    /* overflow:auto; */
    /* width: 100%; */
}

.panel-text-settings {
    width: 240px;
    overflow-y: auto;
    position: relative;
    right: 0;
    height: 100%;
    background-color: #fafafa;
    border-left: solid 1px #e0e0e0;
}

.overlay-container{
    width: 100%;
    height: 50px;
    min-height: 50px;
}

.content-composer .workspace .artboard-container {
    width: 890px;
    height: 100%;
    display: block;
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
    padding-left: 90px;
    background-color: #fafafa;
    /* height: calc(100% - 62px); */
}

.--rm-place {
    width: 100%;
    display: block;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    color: #424242;
    text-transform: uppercase;
}

.canvas-blocker{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* position: fixed; */
    /* left: 0; */
    top: 0;
    /* z-index: 16000; */
    /* opacity: 0.1; */
    /* background: black; */
    background-color: rgba(0, 0, 0, 0.4);
    /* width: 100%;
    height: 100%; */
    position: absolute;
    /* top: 0px; */
    z-index: 3;
    /* visibility: hidden !important; */

}
.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_maximized{
    width: 580px!important;
    height: 483px!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}
.sidebar-panel{
    position : fixed;
    left : 0px;
    height : 100%;
}