.content-composer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#editor-toolbar {
    width: 100%;
    min-height: 49px;
    margin: 0 auto;
    background: #ffffff;
    border-bottom: solid 1px #e0e0e0;
    position: relative;
    z-index: 2;
}

.workspace {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100vw;
    background-color: #fafafa;
}

.content-composer .workspace .canvas {
    flex: 2;
    overflow: hidden;
    min-width: 768px;
    background-color: #fafafa;
    float: left;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

#artboard-containers {
    height: 100%;
    /* padding-left: 40px; */
    /* overflow:auto; */
    /* width: 100%; */
}

.panel-text-settings {
    width: 240px;
    overflow-y: auto;
    position:absolute;
    right: 0;
    height: 100%;
    background-color: #fafafa;
}
.canvas-sidebar{
    border-left: solid 1px #e0e0e0;
}
.overlay-container{
    width: 100%;
    height: 50px;
    min-height: 50px;
}

.content-composer .workspace .artboard-container {
    width: 800px;
    float: left;
    height: 100%;
    display: block;
    justify-content: space-around;
    position: relative;
    background-color: #fafafa;
    /* height: calc(100% - 62px); */
}

.--rm-place {
    width: 100%;
    display: block;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    color: #424242;
    text-transform: uppercase;
}

.canvas-blocker{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 3;
}
.wrs_modal_dialogContainer.wrs_modal_desktop.wrs_maximized{
    width: 580px!important;
    height: 483px!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}
.sidebar-panel{
    position : fixed;
    left : 0px;
    height : 100%;
}
.navigation-container{
    width: 37px;
    height: 100%;
    float: left;
}
.navigation-container.prev-btn{
  margin-right:4px
}
.navigation-container.next-btn{
  margin-left:4px
}
.artboard-parent{
    width: 882px;
    margin: 0 auto;
    height: 100%;
}
.disableNavigation{
    cursor: not-allowed !important;
    pointer-events: none;
}

  .navigation-button{
    height:100%;
    background: #fff;
    cursor: pointer;
    color: #005a70;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  }
  .navigation-content{
    height:100px;
    width:36px;
    position: absolute;
    top: 40%;
  }
  .navigation-container.disabled .navigation-button{
    background-color: #fafafa;
    box-shadow: none;
    border: solid 1px #dcdcdc;
  }
  .navigation-container.disabled svg path{
    fill:#999999;
  }
  .navigation-content:hover .navigation-button{ 
    background-color: #def8ff;
  }
  .navigation-content:active .navigation-button{ 
    border: solid 1px #005a70;;
  }
  .navigation-button.next{
    padding: 40px 2px 40px 12px;
    border-radius: 0 4px 4px 0;
  }
  .navigation-button.back{
    padding: 40px 2px 40px 12px;
    border-radius: 4px 0 0 4px;
  }
  .navigation-icon{
    width: 100%;
  }
  .navigation-text{
    width: 100%;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #005a70;
  }
.collapse-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.navigation-container.disabled{
    cursor: none;
    cursor: default;
    pointer-events: none;
}
p.blockquoteTextCredit:empty:not(:focus)::before {
    content: attr(data-placeholder);
}