.mce-content-body {
    padding: 15px !important;
    min-height: 100px;
    flex-grow: 1;
    border: 2px solid #ddd;
}

.mce-content-body.mce-edit-focus {
    border: 2px solid #149632;
}

.mce-content-body p{
    margin: 0 !important;
}