/* .cypress-editable {
    padding: 15px !important;
    min-height: 100px;
    flex-grow: 1;
    border: 2px solid #ddd;
    word-break: break-word;
}

.Editor:focus {
    border: 2px solid #149632;
} */

.cypress-editable p{
    margin: 0 !important;
}
.element-list .mce-visual-caret{
    display:none;
    cursor:default;
    outline:none;
    border:none;
}
.element-list img:not('.Wirisformula'){
    pointer-events:none;
}
#editor-toolbar .tox.tox-tinymce.tox-tinymce-inline{
    display:block !important;
    border: none!important;
}
.cypress-editable{
    height:100%;
}

.cypress-editable ::selection,#glossary-editor ::selection,#glossary-editor-attacher ::selection {
    background: #B5D6FD !important;
    color: #000000 !important;
}

div.mce-resizehandle{
    z-index: 0 !important;
}
.element-container p.paragraphNumeroUno{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    font-size: 100%;
    padding:0px;
    font-family: Georgia Pro, serif, Palatino, Palatino Linotype, Palatino LT STD !important;
}

.element-container .buttonWidgetPU p.paragraphNumeroUno{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.element-container p.handwritingstyle{
    font-family: 'Dancing Script', cursive !important;
    font-size: 1.5em !important;
}

h3.pullQuoteNumeroUno{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    font-family: Georgia Pro, serif, Palatino, Palatino Linotype, Palatino LT STD !important;
}
blockquote.blockquoteMarginaliaAttr {
    padding: 1.0em 0.25em 1.5em;
}
p[data-mce-bogus="all"] {
    display: none!important
}
/* blockquote.blockquoteMarginalia {
    padding: 16px 0 20px 1.5em !important;
 } */

 blockquote.blockquoteMarginalia .paragraphNummerEins, blockquote.blockquoteMarginalia .blockquoteTextCredit{
    padding: 5px !important;
    min-height: 30px !important;
    font-size: 1.120em !important;
 }
 blockquote.blockquoteMarginalia .paragraphNummerEins {
    letter-spacing: 0px;
    margin-left: -1.5px
 }
 blockquote.blockquoteMarginalia .blockquoteTextCredit {
     font-size: 1.115em !important;
 }
.blockquoteMarginalia .cypress-editable.place-holder::before {
    content: attr(placeholder);
    color: #ADADAD;
    display: block;
    position: absolute;
    margin-top: -.9px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
 }
.record-icon {
    float: right;
}