/* style for citation container div */
div.citation{
    max-width: 680px;
}

/* style for content inside citation title (formatted-title) */
h4.citationTitle {
    color: #000;
    font-family: Helvetica, sans-serif;
    max-width: 680px;
    width: auto;
    margin: 0 0 .55em 0;
    font-size: 1.06em;
    font-weight: 400;
    line-height: 1.45em;
    letter-spacing: 0.01em;
    min-height: 38px !important
}

/* Style for citation title container */
.citation-group-container>header{
    margin-top: 20px;
    margin-bottom: -13px;
}

/* style for content inside citation element (Ct) */
.paragraphNumeroUnoCitation {
    color: #000;
    font-family: Georgia, serif, Palatino, Palatino Linotype, Palatino LT STD !important;
    font-weight: normal !important;
    line-height: 1.70em !important;
    letter-spacing: 0.01em;
    margin: 0em 0em 1.70em 0em !important;
    text-indent: -3.0115em;
    padding: 2px 0px 2px 40px !important;
    white-space: break-spaces;
}

/* Placeholder style for citation title */
.citationTitle::before {
    font-size: 1.06em;
    margin-top: 2px !important;
}

/*style for element picker inside CG element*/
.citation .horizontalLine {
    margin-left: -30px;
}
.citation .dropdown {
    margin-left: -23px;
}