 .interactive-element .cypress-editable:not(.paragraphShowHideWidgetQuestionText , .paragraphNumeroUno.revealAns) {
    margin: 0!important;
    padding: 10px!important;
    width: 100%!important;
    min-height: 40px!important;
    border: none;
    outline: none;
    background: #fff;
}
.interactive-element .cypress-editable.place-holder::before{
    margin-top : 2px !important;
}

 .id-info {
    padding: 5px 0 10px;
    word-wrap: break-word;
} 
.eml-int-status-padding{
    padding: 0px !important;
}
.eml-int-status-label-tm{
    margin-top: 5px;
}

.interactive-title{
    overflow-wrap: anywhere;
}
.pearson-component:not(.showHide) {
    cursor: copy;
}

a.buttonWidgetPU {
    min-width: 100%;
}
a.buttonWidgetPDF , a.buttonWidgetPUSL, a.buttonWidgetPU {
    width: 60%;
    color: black;
}
.actionPU {
    padding: 10px!important;
    color: black;
    font-family: 'Open Sans', Calibri, Tahoma, sans-serif;
    background-color: white;
}
img.imageWidgetAccountingtable {
    width: 100%;
}
/* BEGIN - CSS for Show Hide Reveal Answer block */
.showhide-reveal-ans-block {
    background-color: #005a70 ;
    margin-top: 0px;
    padding: 20px;
}
.showhide-call-action-text-div {
    margin-bottom: 10px;
    color: #fff;
}
.showhide-heading-div {
    padding: 2px 10px;
    background: #d4eae4;
    margin-top: 10px;
}
.show-hide-component hr.horizontalLine {
    margin-left: -30px;
}
.show-hide-component .dropdown{
    margin-left: -23px;
}
.container-multi-column-group.wider-60-40.column-0 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.wider-60-40.column-1 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.wider-50-50.column-0 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.wider-50-50.column-1 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.text-width-50-50.column-1 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.text-width-50-50.column-0 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.text-width-60-40.column-0 .container-aside .show-hide-component hr.horizontalLine,
.container-multi-column-group.text-width-60-40.column-1 .container-aside .show-hide-component hr.horizontalLine{
   margin-left:-4%;
   width: 100%;
}
/* END  ----------------------------------------- */