* {
    box-sizing: border-box;
}
.root-width {
    width: 100%;
}
.root-height {
    height: 100%;
}
.panel-navigation{
    width: 300px;
    background-color: white;
    height: calc(100% - -30px);
    border-right: solid 1px #e0e0e0;
    position: relative;
    z-index: 9999;
    box-shadow: 4px 0px 5px -4px #cccccc;
}
.panel-navigation .panel-navigation__header {
    padding: 16px;
    z-index: 1;
    border-bottom: solid 1px #e0e0e0;
}
.panel-navigation .panel-navigation__header-title {
    padding-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #424242;
}
.panel-navigation .search-container {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 32px;*/
    border: solid 1px #e0e0e0;
    border-radius: 25px;
    height: 30px;
    padding-left: 8px;
    display: flex;
    align-items: center
}
.input-text {
    width: 100%;
}
.input-text input {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #424242;
    width: 100%;
    line-height: 1;
    padding: 6px 0 4px 0;
    border: none;
    border-bottom: solid 1px transparent;
    background: 0;
}
.panel-navigation .search-container img {
    width: 16px;
    height: 16px;
    margin-right: 8px
}
.panel-navigation .add-structure {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.add-structure .filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.panel-navigation span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #424242;
    padding-right: 5px;
    color: #9e9e9e;
}
.add-structure .filter > span {
    width: 30%;
    font-weight: bolder;
    color: #111;
}
.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    transition: all .15s ease-in-out;
    width: 70%;
}

.dropdown .dropdown__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 5px;
}
.dropdown .dropdown__title {
    font-size: 12px;
    padding-right: 10px;
}
.dropdown ul.dropdown__content {
    position: absolute;
    z-index: 99;
    top: 24px;
    left: -5px;
    margin: 0;
    padding: 8px 0;
    border-radius: 2px;
    width: 100%;
    background: white;
    text-align: left;
    font-size: 12px;
    box-shadow: 1px 1px 2px 1px rgba(148, 148, 148, 0.35);
    transition: all .15s ease-in-out;
}
.dropdown ul.dropdown__content li {
    cursor: pointer;
    display: block;
    list-style: none;
    padding: 6px;
    margin: 0;
    margin-bottom: 2px;
    width: 100%;
}