/**
* @discription -  CSS for Learning Tool Feature
*/

.learningToolContainer {
    position: fixed;
    width: 1200px;
    top: 10%;
    right: 0;
    outline: 0;
    left: 0%;
    background: #fff;
    background-color: white;
    z-index: 1500;
    min-height: 60px;
    max-height: 560px;
    overflow-y: auto;
    transition: top 0.4s, opacity 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}

.learningToolHeaderMainDiv {
    margin: 0 auto;
    width: max-content;
}

.learningToolContainer hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.learning-tool-header td {
    padding: 0 8px;
}

.learning-tool-button {
    cursor: pointer;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    height: 32px;
    font-family: Open sans, sans-serif;
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
    float: right !important;
    background-color: #005a70;
    color: white;
}

.learning-tool-button[disabled] {
    opacity: 0.35;
    cursor: default;
}

.learning-tool-button.learning-tool-cancel {
    margin-right: 16px;
}

.learningToolHeader {
    margin-bottom: 30px;
}

.learningToolHeaderTitle {
    height: 50px;
    margin-bottom: 15px;
    background-color: rgb(232, 232, 232);
    padding: 6px 15px 10px;
}

.learningToolHeaderString {
    font-size: 18px;
    margin: 9px 0;
    font-family: sans-serif;
    transform-origin: 0% 0%;
    font-weight: 100;
    text-align: center;
}

.spanLTFilterType {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 2;
    text-align: left;
    color: #404040;
}

.spanLTFilterDis {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 2;
    text-align: left;
    color: #404040;
}

.learningAppType {
    padding: 5px;
    width: 180px;
    cursor: pointer;
    overflow-y: auto;
    border-radius: 2px;
    border: solid 1px #999999;
    background-color: #ffffff;
}

div.learningAppType {
    display: inline-flex;
    overflow-y: hidden;
    max-height: 32px;
    height: 32px;
}

.dropdown-parent.learningAppType {
    width: max-content;
    z-index: 10;
    max-height: 220px;
    position: fixed;
}

.learningToolDis {
    width: 180px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #999999;
    background-color: #ffffff;
}

.learningToolDis:focus {
    border-radius: 6px;
    outline: none;
}

.learningToolSearchBar {
    width: 240px;
    height: 32px;
    border-radius: 2px;
    font-size: 14px !important;
    line-height: 2;
    text-align: left;
    padding: 0 5px;
    border: solid 1px #999999;
}

.learningToolHeaderSearchBar {
    position: relative;
}

.learningToolBody {
    margin: 0px 6px 0px 10px;
    border: 1px solid lightgrey;
    height: 285px;
    max-height: 320px;
    min-height: 100px;
    overflow-y: scroll;
}

.learningToolResultsTableHeader {
    height: 30px;
    background-color: gray;
    color: white;
    margin: 10px 6px 0px 10px;
}

.learningToolResultsTable {
    padding: 15px;
    overflow-y: scroll;
}

.learningToolFooter {
    height: 64px;
    padding: 16px;
    background-color: rgb(232, 232, 232);
}

.table {
    border: 1px solid black;
}

.errorSpan {
    color: red !important;
}

.blockerBgDivLT {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1350;
    width: 100%;
    height: 100%;
}

.learningToolPagesDropdownLabel1 {
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
}

.learningToolPagesDropdownLabel2 {
    font-size: 15px;
    font-weight: 700;
}

.learningToolPages {
    width: 40px;
    height: 25px;
    border: 0px;
    outline: 0px;
    background-color: inherit;
    font-size: 15px;
    color: white;
}

.previous {
    background-color: grey;
    color: black;
}

.next {
    background-color: grey;
    color: black;
}

.paginationButtons {
    float: right;
    padding-right: 10px;
    height: 100%;
    overflow: hidden;
}

.leftPage {
    font-size: 25px;
    margin-right: 10px;
    background-color: grey;
    border: 0;
}

.rightPage {
    font-size: 25px;
    margin-left: 10px;
    background-color: grey;
    border: 0;
}
.page-limit{
    font-size: 15px;
    line-height: 1.7;
    vertical-align: top;
}
.error {
    border: 2px solid red;
    background-color: #ffe5e7;
    color: red;
    padding-right: 26px;
}

.tableHeader {
    text-align: left;
    vertical-align: top;
    padding: 8px;
    width: 14% !important;
    border: none;
}

.learning-tool-margin-left p.ErrorComp {
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.tableForApiResults {
    width: 100% !important;
    font-size: 14px;
    font-weight: bold;
}

.tableRow {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 5px;
    line-height: 1.4em;
    color: #424242;
    font-weight: normal;
    overflow-wrap: break-word;
}

.tableForApiResults th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}

.inputElem.learningRadioButton {
    width: 15px !important;
    position: relative;
    top: 0px;
    margin-top: 2px !important;
}

div.learningToolHeaderSearchDiv {
    display: inline-flex;
}


/** Api Results Table Header Data CSS*/
.learning-tool-margin-left {
    margin-left: 10px;
}

thead.tableForApiResults th.tableHeader:nth-child(1) {
    width: 16% !important;
}

thead.tableForApiResults th.tableHeader:nth-child(2) {
    width: 10% !important;
}

thead.tableForApiResults th.tableHeader:nth-child(3) {
    width: 15% !important;
}

thead.tableForApiResults th.tableHeader:nth-child(4) {
    width: 15% !important;
}

thead.tableForApiResults th.tableHeader:nth-child(5) {
    width: 18% !important;
}

thead.tableForApiResults th.tableHeader:nth-child(6) {
    width: 26% !important;
}

/** Api Results Table Row Data CSS*/
tr.modalCard td.tableRowData:nth-child(1) {
    display: inline-flex;
    padding-right: 10px;
}

tr.modalCard td.tableRowData:nth-child(2) {
    padding-right: 10px;
}

tr.modalCard td.tableRowData:nth-child(3) {
    padding-right: 10px;
}

tr.modalCard td.tableRowData:nth-child(4) {
    padding-right: 10px;
}

tr.modalCard td.tableRowData:nth-child(5) {
    padding-right: 10px;
}

tr.modalCard td.tableRowData:nth-child(6) {
    padding-right: 10px;
}

table.learningToolTable {
    max-width: 99% !important;
}

td.tableRowData {
    border: none;
    padding-left: 5px;
    text-align: left;
    vertical-align: top;
}

.selected-learning-tool {
    width: 160px;
    max-height: 24px;
    font-size: 14px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.exclamation-icon {
    width: 25px;
    height: 25px;
    margin-left: -25px;
    margin-bottom: -10px;
    padding-top: 2px;
}

.arrow-icon {
    color: #d2cdcdf0;
    vertical-align: top;
}

.scroller {
    overflow-y: scroll;
}

#style-2::-webkit-scrollbar-track,
.learningToolContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px grey;
    -webkit-box-shadow: inset 0 0 6px grey;
    border-radius: 5px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar,
.learningToolContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb,
.learningToolContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px grey;
    -webkit-box-shadow: inset 0 0 6px grey;
    background-color: #555;
}

.highlightSelectedRow {
    background-color: #E8F8FF !important;
}

.learning-search-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
    position: relative;
    left: 0;
    vertical-align: top;
}

@media only screen and (max-width:1500px) {
    .learningToolContainer {
        max-height: 400px;
    }
}

@media only screen and (max-width:1200px) {
    .learningToolContainer {
        max-height: 350px;
        max-width: 98%;
    }
    .learning-tool-header td {
        padding: 0 6px;
    }
}

@media only screen and (max-width:1000px) {
    .learningToolContainer {
        max-height: 300px;
        width: 960px;
    }
    .learning-tool-header td {
        padding: 0 6px;
    }
}

.spanLTFilterDis .required-field {
    color: red;
}

.row-2 td {
    padding-top: 0px;
    vertical-align: top;
}

.row-1 td {
    padding-bottom: 0px;
}

.learningToolHeaderMainDiv td {
    border: 0px;
}

.row-3 td {
    padding: 0px 0.4em;
}

td.learning-search-text {
    vertical-align: top;
}

ul.dropdown-parent::-webkit-scrollbar-track {
    border-radius: 21px;
    background-color: #E5E5E5;
}

ul.dropdown-parent::-webkit-scrollbar {
    width: 7px;
    background-color: #E5E5E5;
}

ul.dropdown-parent::-webkit-scrollbar-thumb {
    border-radius: 21px;
    background-color: #4E4E4E;
}