.figureAssessment{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    max-width:100% !important;
}

.singleAssessmentIdInfo{
    padding-top: 5px!important;
    padding-bottom: 10px!important;
}
.singleAssessmentItemIdInfo{
    padding-bottom: 10px!important;
}
.singleAssessment_Dropdown_Container{
    height: 37px;
}
.singleAssessment_Dropdown_arrow{
float: right;
position: relative;
top: 0px;
right: 8px;
width: 8px;
}
.singleAssessment_Dropdown_activeDropdown{
width: 200px;
float: left;
padding: 8px;
cursor: pointer;
position: relative;
border-radius: 18px;
border: solid 1px silver;
background-color: #ffffff;
}
.singleAssessment_Dropdown_SelectLabel{
    width: 120px;
    float: left;
    font-size: 13px;
    color: #424242;
    position: relative;
    top: 6px; 
}
.singleAssessment_Dropdown_options{
    position: absolute;
    padding-left: 0px;
    margin-left: 122px;
    width: 202px;
    margin-top: 10px;
    max-height: 220px;
    overflow: auto;
    background: #fff;
}
.singleAssessment_Dropdown_item{
    list-style: none;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}
.singleAssessment_Dropdown_item:hover{
    background-color: #1565c0;
    color:white;
    
 }
.singleAssessment_Dropdown_currentLabel{
    font-size: 14px;
    margin:0 0 0 8px;
}
.divAssessment{
       max-width:auto!important ;
}

.puf-assessment-id{
    display: none;
}
.figureAssessment .default-img{
    filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(110%) contrast(89%);
}

.elm-update-button.embedded-assessment{
    display: inline-block;
    margin: 0px;
}

.elm-status-div.embedded-assessment{
    padding-top: 2px;
    margin: 0px;
}

.singleAssessment_Dropdown_activeDropdown.isElmUpdate{
    margin-right: 25px;
}

.heading4AssessmentItemNumberLabel,.heading4TdxAssessmentItemNumberLabel{
    color: #007FA3;
}

.assessment-metadata {
    display: flex;
    line-height: 17px;
    padding: 9px 0 1px 0;
    vertical-align: middle;
}

div.assessment-metadata-container {
    margin-bottom: 11px;
}

.title-field {
    color: #005a70;
    font-weight: 600;
}

p.single-assessment-title {
    font-weight: 600;
    width: 80px;
}