.model-popup { 
    position: fixed; 
    z-index: 999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    cursor:default;
  }
  
  .modal-content {
    border-top: 5px solid #005a70;
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    font-family: "Helvetica Neue", sans-serif;
    color: #000;
    padding: 16px;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 520px;
    font-size: 16px;
    line-height: 16px;
    background-color: #ffffff;
    top: 38%;
    transform: translateY(-50%);
    animation-name: animatetop;
    animation-duration: 0.8s;
  }
  .model-popup.single_assessment{
     background-color: rgba(0,0,0, 0.5) !important;
    
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close.single_assessment{
    visibility: hidden;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .dialog-window,.dialog-window.single_assessment{
    color: #007fa3;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
  }
  .dialog-window.add-comment {
    margin-top: .3em;
    margin-bottom: .5em;
    font-size: 1.5em;
    color: #007fa3;
    font-weight: 700;
    font-family: Helvetica,sans-serif;
  }
  /* .dialog-text{
    font-size: 1.1em;
    color: #007fa3;
    font-weight: bold;
  } */
  /* .dialog-text.single_assessment{
       font-family: Helvetica, sans-serif;
       margin:0;
       padding:0;
      } */
  .dialog-input-textarea {
    border-radius: 3px;
    background: #fff;
    width: 100%;
    padding: .25em .67em;
    min-height: 2.5em;
    margin: 0 0 .25em;
    border: 1px solid;
    font-size: 13.3333px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dialog-input-textarea::placeholder{
    font-size: 13.3333px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dialog-input-textarea.assessmentAndInteractive {
    margin: .30em 0 .25em;
  }
  .dialog-input-textarea.single_assessment{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 36px;
    font-size: 13.3333px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding:3.6px 9.648px;
    margin:0px 0px 3.6px;
    border:none;
    margin-top:10px;
}
  .cancel-button,.lo-save-button{
    border-radius: 2px;
    float: right;
    margin: 0 0 0 16px;
    font-family: inherit;
    background: #FFFFFF;
    color: #005a70;
    animation: blink 1.1s infinite;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    font-weight: 500;
    border: solid 1px #dcdcdc;
  }

  .cancel-button:hover,.lo-save-button:hover{
    background-color: #def8ff;
    cursor: pointer;
    border: 1px solid #005a70;
  }

.save-button, .metadata-import-button{
    border-radius: 2px;
    float: right;
    font-family: inherit;
    background: #005a70;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    margin: 0 0 10px 16px;
    border: 1px solid #005a70;
}
.save-button:hover, .metadata-import-button:hover {
  background: #07313b;
  border: 1px solid #07313b;
}

@keyframes blink {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent; 
  } 
}

.dialog-buttons{
  /* padding: 17px 8px 28px; */
  height: 36px;
  margin-top: 24px;
}

.dialog-buttons.tcm-canvas-popup{
    /* padding: 17px 8px 28px; */
    height: 70px;
    margin: 10px -16px -16px -16px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.14);
    padding: 0px !important;
    width: 310px;
}
.dialog-buttons.single_assessment{
  width:100%;
  margin:10px 0;
  padding:0px;
  height:30px;
 }
@keyframes animatetop {
  from {top: 30%; opacity: 0}
  to {top: 38%; opacity: 1}
}
.dialog-input textarea {
  resize: none;
}
.dialog-input textarea:focus {
  outline: none !important;
  border-color: #000080;
  box-shadow: inset 0 0 0 1px #3288e6;
}
.dialog-input input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: inset 0 0 0 1px #3288e6;
}
.dialog-window.lock-message{
    margin-top: 1.3em;
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
    font-family: "Helvetica Neue", sans-serif;
    color: #000;
}
.delete-element-text, .audioRemoveClass, .remove-glossary-image{
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  margin-top: 1.3em;
}
.dialog-window.split-slate{
  margin-top: 1.3em;
    font-family: "Helvetica Neue", sans-serif;
    color: #000;
    font-size: 1em;
    line-height: 20px;
    font-weight: normal;
}
.save-button.split-slate,
.cancel-button.split-slate{
  font-family: "Helvetica Neue", sans-serif;
}
.tocDeleteHeader {
  font-family: "Helvetica Neue", sans-serif;
  line-height: normal;
  margin-bottom: 17px;
  font-size: 16px;
  color: #005a70;
  font-weight: 600;
  height: 22px;
  font-stretch: normal;
  font-style: normal;
  margin-top: 6px;
  letter-spacing: normal;
}
.tocDeleteClass {
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
  line-height: 20px;
}
.popup-note-message {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.audioWrongPop{
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
  position: relative;
  max-width: 100%;
  width: 500px;
  font-weight: normal;
}
.lockInputBox{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 15px;
}
.lockInputBox>input {
  border: 0.07px solid darkgray;
  height: 20px;
  padding-left: 2px;
  width: 82%;
  text-transform: capitalize;
}

.listConfirmation {
  line-height: 20px;
  color: #000;
}

.elm-header-bottom {
  border: 0.75px solid #979797;
  margin: 10px -15px 10px -15px;
}

.elm-header {
  width: 114px;
  height: 22px;
  font-size: 15.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.modal-content.elm-update {
  width: 500px;
  height: 190px;
  border-radius: 4px;
  border-top:none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.dialog-window.elm-update {
  color: #000;
}

.dialog-window.elm-api-error{
  font-weight:normal;
}

.word-paste{
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
  line-height: 20px;
  margin-bottom: 16px;
  font-size: 12px;
} 

.wordPasteClass {
  border-top: 5px solid #005a70;
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
  padding: 16px;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 720px;
  height: 575px;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffffff;
  top: 286px;
  transform: translateY(-50%);
  animation-duration: 0.8s;
}
.wordPastePopuptxt {
  margin-top: 6px;
  margin-bottom: 1px;
  font-size: 16px;
  color: #007fa3;
  font-weight: 700;
  font-family: Helvetica,sans-serif;
}

.powerpaste-cancel-button{
  border-radius: 2px;
  float: right;
  margin: 0 5px 0 0;
  font-family: inherit;
  background: #FFFFFF;
  color: #005a70;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #dcdcdc;
  animation: blink 1.1s infinite;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18.5px;
  letter-spacing: normal;
  text-align: center;
}
.powerpaste-cancel-button:hover {
  border: 1px solid #005a70;
  background-color: #def8ff;
}

.powerpaste-save-button{
  border-radius: 2px;
  float: right;
  margin: 0 0 0 4px;
  font-family: inherit;
  background: #FFFFFF;
  color: #005a70;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #dcdcdc;
  /* animation: blink 1.1s infinite; */
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18.5px;
  letter-spacing: normal;
  text-align: center;
}

.powerpaste-save-button:hover {
  border: solid 1px #005a70;
  background-color: #def8ff;
}

.powerpaste-save-button.disabled, .metadata-import-button.disabled {
  background: #b3d8e1;
  cursor: not-allowed;
  pointer-events: none;
  color: white;
  border: 1px solid #b3d8e1;
}

.dialog-input-poc {
  border: 1px solid #043a47;
  border-radius: 4px;
}

.dialog-input-poc .tox-tinymce{
  border:0 !important;
}
.dialog-input-poc .tox .tox-edit-area {
  border-top:0 !important;
}
.lo-warning-txt {
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.38;
  color: #000000;
  width: 94%;
}
.loPopupHeader {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2px;
  color: #005a70;
}

.figure-popup{
  width: 640px;
  height: 476px;
  z-index: 9999;
  background-color: #fff;
  top: -32px;
  margin: auto;
  border-top: 4px solid #005a70;
  padding: 20px;
}

.edit-metadata{
  font-size: 16px;
  color: #005a70;
  font-weight: 600;
  float: left;
}

.alt-text-body {
  padding: 8px 12px;
  background-color: #f7f7f7;
  overflow: auto;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  height: 70px;
}
.long-description-body{
  background-color: #f7f7f7;
  overflow: auto;
  border-bottom: 1px solid #cccccc;
  padding: 8px 12px;
  height: 230px;
}
.alt-text-body .alt-text{
  font-size: 12px;
  color: #252525;
  margin: 0;
  padding: 1px 0;
}
.long-description-body .long-text{
  font-size: 12px;
  color: #252525;
  margin: 0;
  padding: 1px 0;
}
.alt-text-body .alt-text.active, .long-description-body .long-text.active{
  color:#005a70;
}
.alt-text-body.active, .long-description-body.active{
  border-bottom: 1px solid #005a70;
}
.figuremetadata-field {
  margin-top:42px;
}
.metadata-button{
  margin-top: 35px;
}
#longDescription_AM{
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 0;
  color: #000000;
  background-color: transparent;
  resize: none;
  font-size: 14px;
}
#longDescription_AM::placeholder {
  font-size: 14px;
}
#altText_AM{
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 0;
  color: #000000;
  background-color: transparent;
  resize: none;
  font-size: 14px;
}
#altText_AM::placeholder {
  font-size: 14px;
}
.model-popup.tcm-canvas-popup{
left: unset;
overflow: unset;
}

.modal-content.tcm-canvas-popup{
  width: 310px;
  transform: none;
  animation-name: none;
  animation-duration: unset;
  top: 0;
  left: -38%;
  margin-top: 85px; /* Negative half of height. */
  margin-left: 500px;
  max-height: 600px;
}
.tcmIcon{
  padding: 2px !important;
  background-color: transparent !important;
}
.tcmIconContainer,.userNametcmIconContainer{
  display: flex;
}
.tcmContainer{
  display: flex;
  flex-direction: column;
}
.tcmdStatusContainer{
  display: flex;
  width: 54%;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: italic;
  line-height: 1.67;
  color: #333333;
}
.userName{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  height: 30px;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
.dialog-window.tcm-canvas-popup{
  word-break: break-all;
  padding: 10px 0 10px 0;
  font-size: 12px !important;
  max-height: 400px;
  overflow-y: auto;
}

.dialog-window p {
  margin: 0 0 0 0 !important;
}
.tcmIcon > img {
  width: 24px !important;
}
ins{
  background-color: lightgreen;
}
del{
  background-color: red;
}
.dialog-window.tcm-canvas-popup::-webkit-scrollbar {
    width: 8px;
    margin: 4px 5px 605px;
    opacity: 0.65;
    border-radius: 3px;
    background-color: #101010b3;
    height: 30px
}
.tcm{
  margin: 15px 10px 0px 10px !important;
}
.dialog-window.tcm-canvas-popup p.handwritingstyle{
  font-family: 'Dancing Script', cursive !important;
  font-size: 1.5em !important;
}
.cancel-button.tcm.disable{
  pointer-events: none !important;
  color: gray !important;
}