.model-popup { 
    position: fixed; 
    z-index: 999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    cursor:default;
  }
  
  .modal-content {   
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px #a6a6a6, 0 0 0 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0 1px #a6a6a6, 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px #a6a6a6, 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-family: "Helvetica Neue", sans-serif;
    color: #847676;
    padding: 1.2em;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
    font-size: 1.2em;
    line-height: 1.0em;
    background-color: white;
    top: 38%;
    transform: translateY(-50%);
    animation-name: animatetop;
    animation-duration: 0.8s;
  }
  .model-popup.single_assessment{
     background-color: rgba(0,0,0, 0.5) !important;
    
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close.single_assessment{
    visibility: hidden;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* .dialog-window{
    margin-bottom: .5em;
    
  } */
  .dialog-window,.dialog-window.single_assessment{
    margin-top: 0.3em;
    margin-bottom: .5em;
    font-size: 1.5em;
    color: #007fa3;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    
  }
  /* .dialog-text{
    font-size: 1.1em;
    color: #007fa3;
    font-weight: bold;
  } */
  /* .dialog-text.single_assessment{
       font-family: Helvetica, sans-serif;
       margin:0;
       padding:0;
      } */
  .dialog-input-textarea {
    border-radius: 3px;
    background: #fff;
    width: 100%;
    padding: .25em .67em;
    min-height: 2.5em;
    margin: 0 0 .25em;
    border: 1px solid;
    font-size: 13.3333px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dialog-input-textarea::placeholder{
    /* font: 400 13.3333px Arial; */
    font-size: 13.3333px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dialog-input-textarea.assessmentAndInteractive {
    margin: .30em 0 .25em;
  }
  .dialog-input-textarea.single_assessment{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 36px;
    /* font: 400 13.3333px Arial ; */
    font-size: 13.3333px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding:3.6px 9.648px;
    margin:0px 0px 3.6px;
    border:none;
    margin-top:10px;
}
   .cancel-button{
    border-radius: 3px;
    border: 0;
    float: right;
    margin: 0 0 0 .5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    line-height: 1em;
    padding: .75em 2em;
    background: #e0e0e0;
    color: #777;
    cursor: pointer;
    animation: blink 1.1s infinite;
  }

  .save-button{
    border-radius: 3px;
    border: 0;
    float: right;
    margin: 0 0 0 .5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    line-height: 1em;
    padding: .75em 2em;
    background: #007fa3;
    color: #fff;
    cursor: pointer;
    animation: blink 1.1s infinite;
}

@keyframes blink {
  0% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    -moz-box-shadow: inset 0 0 0 300px transparent;
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent; 
  } 
}

.dialog-buttons{
    padding: 17px 8px 28px;
}
.dialog-buttons.single_assessment{
  width:100%;
  margin:10px 0;
  padding:0px;
  height:30px;
 }
@keyframes animatetop {
  from {top: 30%; opacity: 0}
  to {top: 38%; opacity: 1}
}
.dialog-input textarea {
  resize: none;
}
.dialog-input textarea:focus {
  outline: none !important;
  border-color: #000080;
  box-shadow: inset 0 0 0 1px #3288e6;
}
.dialog-input input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: inset 0 0 0 1px #3288e6;
}
.dialog-window.lock-message{
    font-size: 15px;
    line-height: 2.0em;
    font-weight: 100;
    font-family: "Helvetica Neue", sans-serif;
    color: #847676;
}
.delete-element-text{
  font-family: "Helvetica Neue", sans-serif;
  color: #847676;
  font-size: 14px;
  line-height: 2.0em;
}
.dialog-window.split-slate{
  margin-top: 1.3em;
    font-family: "Helvetica Neue", sans-serif;
    color: #847676;
    font-size: 1em;
    line-height: 2.0em;
    font-weight: normal;
}
.save-button.split-slate,
.cancel-button.split-slate{
  font-family: "Helvetica Neue", sans-serif;
}
.tocDeleteHeader {
  font-family: "Helvetica Neue", sans-serif;
  /* color: #847676; */
  line-height: 2.0em;
  margin-bottom: .5em;
  font-size: 1.5em;
  color: #007fa3;
  font-weight: bold;
}
.tocDeleteClass {
  font-family: "Helvetica Neue", sans-serif;
  color: #847676;
  line-height: 25px;
}
.popup-note-message {
    color: #645454;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
.audioRemoveClass {
  line-height: 1.22em;
}

.audioWrongPop{
  font-family: "Helvetica Neue", sans-serif;
  color: #847676;
  padding-top: 0.9em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 500px;
  font-size: 1.0em;
  line-height: 1.9em;
  font-weight: normal;
}
.lockInputBox{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 15px;
}
.lockInputBox>input{
  border: 0.07px solid darkgray;
  height: 20px;
  padding-left: 2px;
  width: 82%;
  text-transform: capitalize;
}

.listConfirmation {
  letter-spacing: 0.5px;
  line-height: 20px;
}