.divWidgetShowHide .show-hide{
    border-bottom: 1px solid #808080b8;
  
}
.divWidgetShowHide h4 {
    margin:10px;
    color: #808080;
}

.show-hide-active{
    box-shadow: 0px 2px 2px 1px #117d8e
}

.show-hide-active h4{
    color:#117d8e;
}

.mce-content-body .mce-edit-focus {
    
}