.printIndex-label{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.indexCloseIcon{
    float: left;
}
.index-container{
    width:240px;
    height: 100%;
}
.index-setting{
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    border-top: 2px solid #005a70;
    box-shadow: 1px 2px 3px #cccccc;
}
.index-body{
   padding: 5px 12px;
}
.index-text{
    display: flex;
}
.index-text span{
    padding-left: 5px;
}

.printIndx-cancel-button{
    padding: 5px 10px;
    background: #fff;
    color: #717272;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #d9d9d9;
  }
  .printIndex-save-button{
    padding: 5px 15px;
    background: #007ea3;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}