.element-label{
    font-size: 14px;
    font-weight: 200;
    position: sticky;
    color: white;
    padding: 6px 0px;
    align-items: center;
    text-align: center;
    height: 18px;
    width: 30px;
    cursor: move;
    background-color: grey;
}

#flag-icon{
    cursor: pointer;
    height: 18px;
    width: 10px;
    padding: 0 5px;
    margin-bottom: 2px;
    background-color: #fa5d54
}

#delete-icon{
    background-color: #fa5d54;
    padding: 4px 5px;
    height: 28px;
    width: 24px;
    cursor: pointer;
   
}

#delete-icon>img{
    height: 24px;
    width: 24px;
    background-size: 82% 82%;
}

#tcm-icon, #add-comment{
    cursor: pointer;
    height: 18px;
    width: 10px;
    padding: 0 5px;
    margin-bottom: 2px;
    background-color: grey;
}

#forward-nav-active, #backward-nav-active{
    width: 30px;
    height: 27px;
    cursor: pointer;
}

#split-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#expand-icon{
    width: 30px;
    height: 30px;
    left: -2px;
    z-index: 10;
    cursor: pointer;
}

#text-elem, #image-elem, #audio-elem, #interactive-elem, #container-elem, #worked-exp-elem, #assessment-elem{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#color-palette{
    padding: 6px 0;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    color: white;
    cursor: pointer;
}