.btn-element {
    padding: 6px;
    cursor: pointer;
    background-color: grey;
    margin-bottom: 2px;
    display: table;
}

.btn-element > img {
    width: 20px;
}

.btn-element.small {
    padding: 2px 5px;
}

.btn-element.small > img {
    width: 12px;
}

.btn-element.element-label {
    font-size: 14px;
    font-weight: 200;
    position: sticky;
    color: white;
    padding: 6px 0px;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 30px;
    cursor: move;
    background-color: grey;
}
.btn-element.element-label.quad-interactive{
    font-size: 12px;
}
.btn-element.flag-icon {
    background-color: #fa5d54;
}

.btn-element.delete-icon {
    padding: 5px;
    width: 100%;
    background-color: #fa5d54;
    padding-bottom: 3px;
}

.btn-element.split-icon,
.btn-element.expand-icon,
.btn-element.paste-icon,
.btn-element.forward-nav-active,
.btn-element.backward-nav-active,
.btn-element.power-paste-icon,
.btn-element.color-palette {
    background-color: transparent;
}

.btn-element.power-paste-icon > img {
    width:23px;
}

.power-paste-icon{
    width: 30px;
    height: 30px;
    left: -2px;
    z-index: 10;
    cursor: pointer;
    margin-bottom: -6px;
    padding-top: 3px;
    margin-left: -10px;
}

.btn-element.color-text {
    background-color: transparent;
}

.split-icon,.expand-icon,.paste-icon{
    padding: 0;
}

.btn-element.split-icon > img {
    width: 30px;
}

.btn-element.forward-nav-active,
.btn-element.backward-nav-active,
.btn-element.backward-nav-disable,
.btn-element.forward-nav-disable {
    padding: 0;
    background: transparent;
    margin:0px;
}

.btn-element.forward-nav-active > img,
.btn-element.backward-nav-active > img,
.btn-element.backward-nav-disable > img,
.btn-element.forward-nav-disable > img {
    /* width: 26px; */
    width: 33px;
    height: 28px;
}

.btn-element.expand-icon > img,
.btn-element.paste-icon > img {
    width: 24px; /* 36px; */
}
.btn-element.close-container {
    width: 10%;
    height:20px;
    float: left;
    background-color: transparent;
    cursor:pointer;
    color:#fff;
    padding: 0;
}

.expand-icon, .paste-icon {
    width: 30px;
    height: 30px;
    left: -2px;
    z-index: 10;
    cursor: pointer;
    margin-bottom: -6px;
    padding-top: 2px;
    margin-right: -3px;
}

.paste-icon {
    margin-right: 0;
}

.btn-element.text-elem, .image-elem, .audio-elem, .interactive-elem, .container-elem, .worked-exp-elem, .assessment-elem, .opener-elem, .section-break-elem, .metadata-anchor,.interactive-elem-button,.citation-elem,.container-elem-button, .block-text-button , .btn-element.stanza-elem, .table-editor-elem, .multi-column-group{
    width: 30px;
    height: 30px;
    display: flex;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    background: white;
    border: solid 1px #aaaaaa;
    border-radius: 50%;
    align-items: center;
    opacity: 1;
    fill: #9e9e9e!important;
}

.citation-elem:hover text, .multi-column-group:hover path{
    fill:black;
}
.multi-column-group:hover{
    border: solid 1px #434343;
}
.text-elem:hover, .image-elem:hover, .audio-elem:hover, .interactive-elem:hover, .container-elem:hover, .worked-exp-elem:hover, .assessment-elem:hover, .opener-elem:hover, .section-break-elem:hover, .metadata-anchor:hover,.interactive-elem-button:hover, .citation-elem:hover,.container-elem-button:hover,.block-text-button:hover , .stanza-elem:hover, .table-editor-elem:hover{
    opacity: 1;
    fill: black!important;
    border: solid 1px #434343;
}

.color-palette{
    padding: 0px 0px;
    background-size: contain;
    width: 31px;
    position: absolute;
    cursor: pointer;
   
}
.color-text{
    padding: 0px 0px;
    background-size: contain;
    width: 31px;
    position: absolute;
    cursor: pointer;
    top:100px;
}

.btn-element.color-palette>img {
    width: 100%;
}

.btn-element.color-text>img {
    width: 100%;
}
.section-break-elem svg {
    fill: #9E9E9E;
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.btn-element.backward-nav-disable,
.btn-element.forward-nav-disable {
    height: 27px;
    cursor: not-allowed !important;
    color: gray !important;
    background: transparent;
    pointer-events: none;
}

.activeTagBgColor {
    background-color: #005a70 !important;
}
.btn-element.lock-icon{
    padding: 0;
    background: white;
    margin: 0;
    height: 100%;
    width: 3%;
    margin-right: 10px;
    cursor: default;
}

.editor.searched > div > .btn-element.element-label,
.editor.searched > div > .btn-element.add-comment {
    background-color: #ff9b19;
}
.btn-element.alfresco-metadata-icon{
    padding: 0;
}
.btn-element.alfresco-metadata-icon img{
    padding: 2px 2px 0 2px;
    width: 19px;
}