.rounded_btn{
    margin-left: 45px;
    border-radius: 17px;
    background-color: rgb(31, 29, 29);
    color: #89d76a;
    border-color: #89d76a;
    height: 34px;
    width: 120px;
    border-width: 1.5px;
    font-size: 12px;
}

