.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.te-btn .tooltip {
    margin-bottom: -3px;
}

.tooltip .tooltiptext {
    /* visibility: hidden;    */
    /* position: absolute;
    z-index: 1;

    min-width: 120px;
    height: auto;
    font-size: 0.8rem;
    border-radius: 2px;
    background-color: black;
    color: #fff;
    padding: 6px;
    text-align: center; */
    visibility: hidden;
    height: 28px;
    /* transition: opacity 1s; */
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 2px;
    padding: 5px 0;
    top: 0px;
    position: absolute;
    /* transition-timing-function: ease-in-out; */
    z-index: 2;
    /* padding-top: 8px; */
    opacity: 0;
    transition: opacity 1s;
 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index:9;
}

.tooltip .tooltiptext.tooltip-right {
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 120%;
    width: 80px;
   
}

.tooltip .tooltiptext.tooltip-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext.tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext.tooltip-left {
    top: 2px;
    right: 145%;

}

.dropdown-content .tooltip .tooltiptext.tooltip-left {
    top: 4px;
    right: 115%;

}

/* left arrow */
.tooltip .tooltip-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* right arrow */

.tooltip .tooltip-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* bottom arrow */

.tooltip .tooltip-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* top arrow */

.tooltip .tooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .block-text-button {
    opacity: 0.4 !important;
    border: solid 1px;
}

.tooltip .block-text-button:hover {
    opacity: 1 !important;
    fill: black !important;
    border: solid 1px #434343;
}

.tooltip .tooltip-picker,
.tooltip .tooltip-comment,
.tooltip .tooltip-view-comment,
.tooltip .tooltip-flag {
    width: 90px;
    top: 135%;
    left: 13%;
    margin-left: -55px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 5px 3px;
    height: 23px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transition: opacity 1s;
}

.tooltip .tooltip-comment {
    top: 26px;
    left: 12px;
    height: auto;
}
.tooltip .tooltip-view-comment {
    top: 24px;
    left: 42px;
    height: auto;
}

.tooltip .tooltip-flag {
    width: 105px;
    top: 24px;
    left: 31px;
    height: auto;
}

.tooltip .tooltip-picker-for-table {
    /* width: 120px; */
    width: max-content;
    top: 112%;
    margin-left: -85px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    padding: 6px 8px 3px;
    height: 23px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transition: opacity 1s;
}

.expand-te-btn .tooltip .tooltip-picker-for-table,
.add-comment-btn .tooltip .tooltip-comment{
    margin-left: -65px !important;
}
.view-comment-btn .tooltip .tooltip-view-comment, 
.flag-te-btn .tooltip .tooltip-flag{
    margin-left: -95px !important;
}

.tooltip .tooltip-picker-for-table::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 76%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.expand-te-btn .tooltip .tooltip-picker-for-table::after,
.add-comment-btn .tooltip .tooltip-comment::after,
.flag-te-btn .tooltip .tooltip-flag::after,
.view-comment-btn .tooltip .tooltip-view-comment::after {
    left: 71% !important;
}

.tooltip .hide {
    display: none;
}

.tooltip .tooltip-picker::after,
.tooltip .tooltip-comment::after,
.tooltip .tooltip-flag::after,
.tooltip .tooltip-view-comment::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* .tooltip .tooltip-picker:hover,
.tooltip .tooltip-paste:hover,
.tooltip .tooltip-poc:hover {
    display: none;
} */

.tooltip .tooltip-paste {
    width: 88px;
    top: 135%;
    left: 80%;
    margin-left: -55px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 8px 3px;
    height: 23px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transition: opacity 1s;
}

.tooltip .tooltip-paste::after,
.tooltip .tooltip-poc::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltip-removeMarkedIndex {
    width: 113px;
    top: 120%;
    left: 106%;
    margin-left: -55px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 8px 3px;
    height: 23px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transition: opacity 1s;
}

.tooltip .tooltip-removeMarkedIndex::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 19%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip .tooltip-poc {
    width: 98px;
    top: 110%;
    left: 55%;
    margin-left: -55px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 8px 3px;
    height: 23px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transition: opacity 1s;
}

.container-aside .tooltip .tooltip-poc, .show-hide-component .tooltip .tooltip-poc {
    margin-left: -65px;
}

.tooltip .tooltip-enhance {
    width: 158px;
    top: 30px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    height: 23px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    transition: opacity 1s;
}

.add-comment-btn>.btn-element.small{
    padding: 2px 4.5px;
    display: inline-block;
} 
.view-comment-btn>.tooltip>.btn-element.small,
.flag-te-btn>.tooltip>.btn-element.small{
    display: inline-block;
}
.add-comment-btn>.tooltip, .view-comment-btn>.tooltip, .flag-te-btn>.tooltip{
    display: inline;
}