.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;   
    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    min-width: 120px;
    height: auto;
    font-size: 0.8rem;
    background-color: black;
    color: #fff;
    padding: 6px;
    text-align: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext.tooltip-right {
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 105%;
}

.tooltip .tooltiptext.tooltip-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext.tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext.tooltip-left {
    top: 0px;
    right: 100%;
}

/* left arrow */
.tooltip .tooltip-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* right arrow */

.tooltip .tooltip-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* bottom arrow */

.tooltip .tooltip-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* top arrow */

.tooltip .tooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}