.glossary-toolbar-wrapper {
    background: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 2;/*1000;*/
}

.glossary-toolbar-wrapper .glossary-title{
    margin: 0 15px;
}

.glossary-toolbar-wrapper .glossary-label{
    width: 75%;
    float: left;
    color:#fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: -2px;
}

.glossary-toolbar-wrapper .glossary-body{
    margin: 42px 12px;
}
.glossary-toolbar-wrapper #glossary-toolbar{
    background-color: #eee; 
    margin: -11px 0;
    border: 0;
    z-index: 10000;
}
.glossary-toolbar-wrapper .glossary-header{
    background-color: #000;
    padding: 14px 0 10px 0;
    z-index: 10000;
}
.glossary-word-header{
    border-top: 1px solid #ccc;
    background-color: #eee;
}
.glossary-toolbar-wrapper .glossary-word-title{
    padding: 10px 10px 5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.glossary-toolbar-wrapper .glossary-word-name{
    border-bottom: 2px solid #0080ff;
    color: #000;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
}
.glossary-editor .glossary-definition-description{
    padding-bottom: 1px;
    padding-top: 2px;
}

.glossary-definition-header{
    background-color: #eee;
    margin-top: 20px;
    padding: 0 0 14px;
}
.glossary-toolbar-wrapper .glossary-definition-label{
    padding: 10px 10px 5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.glossary-toolbar-wrapper .glossary-definition-buttons{
    padding: 30px 10px 50px;
}
.glossary-toolbar-wrapper .glossary-cancel-button{
    padding: 5px 10px;
    background: #fff;
    color: #717272;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #d9d9d9;
  }
  .glossary-toolbar-wrapper .glossary-save-button{
    padding: 5px 15px;
    background: #007ea3;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.definition-editor {
    background-color: #eee;
    width: 90%;
    border: none;
    outline: none;
    margin: 0 11px 1px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.80em;
    letter-spacing: 0.01em;
    cursor:text;
}

/* ::placeholder{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.80em;
    letter-spacing: 0.01em;
    margin: 0;
    outline: none;
} */
#toolbarGlossaryFootnote .tox-toolbar {
    background: transparent !important;
}
#toolbarGlossaryFootnote .tox-tbtn {
    border: 1px solid #ccc !important;
    margin: 2px 0px !important;
}
#toolbarGlossaryFootnote .tox .tox-tbtn {
    border-radius: 0 !important;
    width: 18%;
}

#toolbarGlossaryFootnote{
    margin: 11px 11px 11px !important;
    padding-bottom: 4%;
    /* border-bottom: solid 1px #e0e0e0; */
}

#toolbarGlossaryFootnote .tox .tox-toolbar__group{
    padding: 1px 4px 2px 4px !important;
}
#toolbarGlossaryFootnote .fa {
    font: normal normal normal 14px/1px FontAwesome, sans-serif;
    font-family: FontAwesome, sans-serif;
}
#glossary-editor-attacher,#glossary-editor{
    min-height: 18px !important;
    max-height: 100px;
    overflow-x: auto;
}
#toolbarGlossaryFootnote>div{
    visibility: hidden;
    display: flex;
    border: 0;
}
.glossary-save-button[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.definition-editor .Wirisformula,
.definition-editor .temp_Wirisformula {
    vertical-align: middle !important;
    padding-bottom: 4px !important;
}

.audio-wrapper{
    margin: -20px 17px; 
    border: 1px solid #ccc;
    align-items: center;
    background: 0 0;
    display: flex;
    font-weight: 400;
    height: 34px;
    justify-content: center;
    width: 15%; 
}