.conatiner-other-elements{
    width: 160px;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    transition: opacity 1s;
    right: 115%;
    margin-right: 7px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    border: 1px solid #ddd;
    background-color: #ffffff;
}

.conatiner-other-elements.aside-popup{
    width: 120px;
   /* margin-top: -77%; */
}
.conatiner-other-elements::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    transform-origin: -4px 9px;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 0 0 #ddd;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;

}
.other-elements-inner li{
    color: #424242;
    text-align: left;
    padding: 8px 0 8px 5px;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}
.other-elements-inner li:hover{
    /* color: #6c6c6c; */
    text-align: left;
    background-color: #1565c0;
    transition: all .2s ease-in-out;
    color: white;
}
.other-elements-inner{
    margin: 0 0 2px 2px;
}

ul.other-elements-inner{
    margin: 0;
}