.assets1{
    padding: 5px;
    margin: 5px;
    height:9px;
    margin-bottom: -5px;
    margin-left: -7px;
   margin-top: -7px;
    

}
.small_rounded_btn{
    margin: 15px;
    border: none;
    background-color: rgb(122, 248, 90);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 9%;
    text-align: center;
    height: 20px;
    margin-top: 10px;
    

    

}
.small_rounded_btn2{
    margin: 15px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: none;
    border-radius: 20px;
    border-color: black;
    width: 10px;
    text-align: center;
    height: 20px;
    margin-top: 10px;
   
}