.chatbox-wrapper {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    /* border-left: 1px solid #005a70; */
    z-index: 999;
    width: 240px;
    display: flex;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 4px -1px rgba(0, 0, 0, 0.20);
}
.wrapper-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 0px 10px 20px 10px; */
}

.chatbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.chatbox-close-icon {
    cursor: pointer;
}

.header-label {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.beta-version {
    color: #0D61A4;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.header-icons {
    display: flex;
}
/********** AI Message CSS ************/

.ai-message-wrapper {
    width: 210px;
    background:  #EAF1FF;
    border-radius: 0px 8px 8px 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.ai-message {
    padding: 0px 10px 0px 0px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
}

.ai-message > ul {
    list-style-type: inherit;
}

.ai-message > p,h1,h2,h3,h4,h5,h6 {
    margin: 2px;
}
.addToSlateBtn {
    border: 1px solid #367ABF;
    color: #0D61A4;
    background: #EAF1FF;
    cursor: pointer;

}
.chatbox-with-banner {
    height: 40% !important;
}

.chatbox-without-header {
    height: 59% !important;
}

.draggable {
    width: 4px;
    background-color: red;
    cursor: col-resize;
}