.cite-wrapper .root-container{
    position: fixed;
    width: 1200px;
    top: 50%;
    right: 0;
    left: 50%;
    background: #fff;
    background-color: white;
    z-index: 1500;
    min-height: 560px;
    max-height: 560px;
    transform: translate(-50%, -50%);
    transition: top 0.4s, opacity 0.4s;
    margin:0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}
.cite-tdx-wrapper .main-div{
  min-height: 335px;
  max-height: 390px;
}
.cite-wrapper .main-div{
  margin: 0 5px 0 20px;
  min-height: 335px;
  max-height: 335px;
}
.cite-wrapper .header-container {
  height:100%;
  border-bottom: ridge darkgray;
  border-width: 2px;
  background-color: #d3d3d369;
}
.cite-wrapper .header-block {
  background-color: inherit;
}
.cite-wrapper .header-close-button{
    float: right;
    padding: 18px;
    cursor: pointer;
  }
.cite-wrapper .header-title {
    padding: 13px 0 13px 16px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal; 
    color: #252525;
}
#assessment_CloseWindow{
  height:16px;
  width:16px;
}
 .assessmentpopup, .search {
  color: #6e6868;
  background-color: rgba(155, 152, 152, 0.41);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  padding: 12px 18px;
  border: none;
  text-transform: capitalize;
}
.assessmentpopup.cancel-assessment{
  margin-right:10px;
  color: #333333;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.add-button-enabled {
  background-color: #0880A3;
  color: #ffffff;
}
.search-block .search.disable-button{
  pointer-events: none;
  opacity: 0.6;
}
.filter-container{
  margin: 11px 20px 11px 20px;
  background-color: #f5f5f5;
  width: 97%;
  box-sizing: border-box;
}
.filter-container.inner-assessment{
  background:#fff;
}
.filter-block{
  /* float: left;
  width: 91%; */
  margin: 11px 0 11px 10px;
  width: 90%;
  display: inline-block;
}
.title-block {
  margin-right: 20px;
}
.search-block{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
    width: 9%;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.assessmentpopup.add-assessment{
  background: #0880a3;
  color: #fff;
}
.search-block .search{
  background: #0880a3;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  font-size: 13px; 
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  text-transform:capitalize;
  padding: 9px 20px;
}

.assessmentpopup-footer {
  height: 60px;
  background-color: rgb(232, 232, 232);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.assessment-titles{
  max-width: 350px;
  height: 20px;
}
.modifiedby-data{
  max-width: 100px;
}
.filter-block input {
  flex-grow: 1;
  font-size: 14px;
  border:0;
}
.filter-uuid, .title-block {
  display: inline-block;
  width: 48%;
  border: solid 1px #a9a9a9;
  background-color: #ffffff;
  padding: 9px 8px 9px 8px;
}
.title-block .fa-search{
  width: 3.5%;
  color: #aaaaaa;
}
.title-block input::placeholder, .filter-uuid input::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.17px;
  color: #adadad;
}
.total-count{
  clear:both;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #454545;
  margin: 10px 0 2px 20px;
}
.assessment-table-class {
  border-collapse: collapse;
  width: 100% !important;
  line-height: 1.4em;
  border-top: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #565353;
}
.assessment-row-class {
  border-bottom: 1px solid #dddddd;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0 10px 0;
  border: 2px solid #808080;
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666666;
}
.assessment-row-class.title {
  width:35%
}
.assessment-row-class.type  {
  width:8%
}
.assessment-row-class.date.modified {
  width:16%
}
.assessment-row-class.modified{
  width:10%
}
.assessment-row-class.uuid {
  width:25%
}
.assesmentfooter-inner{
  float: right; 
  padding: 10px 28px 0 0;
}

.assessment-table-class tr td{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0!important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  vertical-align:top;
}
.assessment-type{
  cursor:auto;
}
.assessment-uuid{
  max-width: 275px;
}

.assessment-table-class .td-class .cls-2 {
  fill: #b20070;
  fill-opacity: 1;
}
.assessment-table-class tbody tr{
  font-size:13px;
}

.assessment-table-class .elmAssessmentItem-icon{
  margin: 0 8px 0 6px;
  vertical-align: top;
}   
.assessment-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  color: #454545;
} 
.assessemnt-title-container .elm-navigate-back-icon svg{
  width:20px;
  height:20px;
}
.assessment-table-class .selected{
  background-color: rgba(181, 214, 253, 0.2);
}
.no-result{
  text-align: center;
  font-size: 16px;
  padding: 15px;
  color: #7a7979;
}
.assessmentpopup.add-button-enabled{
  pointer-events: inherit;
  opacity: 1;
  background-color: #007fa3;
}
.assessmentpopup.add-button-disabled{
  pointer-events: none;
  opacity: 0.3;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #007fa3;
}
.cite-wrapper .main-div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
  -webkit-box-shadow: inset 0 0 6px grey;
  border-radius: 5px;
  background-color: #F5F5F5;
}

.cite-wrapper .main-div::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.cite-wrapper .main-div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px grey;
  -webkit-box-shadow: inset 0 0 6px grey;
  background-color: #555;
}
.single-assessment .assessment-row-class.title{
  width:50%;
}

.cite-wrapper.root-container input {
  outline: 0;
}
.assessment-table-class .radio-button {
  cursor:pointer;
  margin-top: 5px;
  vertical-align: top;
}
.single-assessment .assessment-titles{
  max-width:485px;
}
.modifiedby-date{
  max-width: 150px;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.assessment-uuid, .modifiedby-date, .modifiedby-data, .assessment-titles, .assessment-type {
  display: inline-block;
  white-space: initial;
  word-break: break-all;
  overflow: inherit;
}
svg#assessmentSlate-item-icon{
  margin-top:4px;
}
.elmAssessmentItem-icon svg{
  margin-top:4px;
}
.assessment-row-class.title .sort-icon, .assessment-row-class.date.modified .sort-icon{
  display: inline;
  cursor: pointer;
  margin-left: 3px;
  float:none;
}
.sort-icon.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}
.title-block:focus-within, .filter-uuid:focus-within{
  box-shadow: 0 0 4px 0 #007fa3;
  border: solid 1px #007fa3;
}
.filter-block input:focus::-webkit-input-placeholder { color:transparent; }
.filter-block input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.filter-block input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.filter-block input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.filter-block label{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.17px;
  color: #252525;
  margin: 0 3px 0 0;
}
.sort-icon.inactive{
  opacity:0.3
}
.flex-container{
  display:inherit;
  width: 96%;
}
.input-Container{
  width: 100%;
  display:flex;
}

@media screen and (max-width: 1300px) {
  .cite-wrapper .root-container{
    min-height: 450px;
    max-height: 450px;
  }
  .cite-wrapper .main-div{
    min-height: 250px;
    max-height: 250px;
  }
}

.elm-loading{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
 }
 