
.aside-horizotal-break{
    border: 4px solid black; 
    margin: 5px -8px 10px -8px;
}
.aside-horizotal-break-green{
    border: 4px solid #149632; 
}
.aside-break-bottom{
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

.aside-break-bottom-green{
    border: 1px solid #149632;
}
.section-seperator{
    border: 1px solid black;
    position: relative;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}
.aside-section-break.searched > .section-seperator {
    border: 1px solid #ff9b19;
    box-shadow: 0 0 4px 0 #ff9b19;
    background-color: rgba(255, 226, 164, 0.3);
}
.aside-section-break.searched > .section-seperator > div > .btn-element.element-label {
    background-color: #ff9b19;
}
.section-seperator .btn-element.element-label {
    position: absolute;
    left: -33px
}
.section-seperator .btn-element.delete-icon {
    position: absolute;
    left: -33px;
    top:33px;
    width:0px
}
.section-seperator .btn-element.delete-icon img{
    cursor: pointer!important;
}
.section-seperator .section-break{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:21px;
    border : 0.5px solid black;
}
.section-seperator-focus{
    border: 1.5px solid #005a70;
}
.aside-container .horizontalLine {
    margin-left: -30px;
}
.aside-container .dropdown {
    margin-left: -23px;
}
.multi-column .aside-container .dropdown {
    margin-left: 0px;
}
.section-break,.work-section-break{
    border : 0.5px solid black;
    margin: 20px -8px 7px -8px;
}
.asideSidebarFeature .element-container,
.asideSidebar05 .element-container
{
    background-color:#fff
}
.asideLearningObjectiveBorderTop{
    position: absolute;
    /* height: 30px; */
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    padding: 0;
}
.element-container {
    position:relative;
}