.aside-container.figureLabel.cypress-editable {
    font-size: 14px !important;
    width: 74px !important;
    border-bottom: 2px solid #737373 !important;
    margin: 8px 0 !important;
    margin-right:24px !important;
    padding: 15px 4px 6px 4px !important;
    font-weight: 500 !important;
    height: 40px;
    z-index: 1;
    font-family: 'Open Sans', sans-serif !important;
    white-space: nowrap;
    overflow: hidden;
}

.asideHeader h4.figureLabel.cypress-editable.place-holder::before{
    content: none !important;
}

.asideHeader{
    margin-top: 16px;
}


.aside-horizotal-break{
    border: 4px solid black; 
    margin: 5px -8px 10px -8px;
}
.aside-horizotal-break-green{
    border: 4px solid #149632; 
}
.aside-break-bottom{
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

.aside-break-bottom-green{
    border: 1px solid #149632;
}
.section-seperator{
    border: 1px solid black;
    position: relative;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}
.aside-section-break.searched > .section-seperator {
    border: 1px solid #ff9b19;
    box-shadow: 0 0 4px 0 #ff9b19;
    background-color: rgba(255, 226, 164, 0.3);
}
.aside-section-break.searched > .section-seperator > div > .btn-element.element-label {
    background-color: #ff9b19;
}
.section-seperator .btn-element.element-label {
    position: absolute;
    left: -33px
}
.section-seperator .btn-element.delete-icon {
    position: absolute;
    left: -33px;
    top:33px;
    width:0px
}
.section-seperator .btn-element.delete-icon img{
    cursor: pointer!important;
}
.section-seperator .section-break{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:21px;
    border : 0.5px solid black;
}
.section-seperator-focus{
    border: 1.5px solid #005a70;
}
.aside-container .horizontalLine {
    margin-left: -30px;
}
.aside-container .ps .horizontalLine {
    margin-left: 0px;
}
.aside-container .dropdown {
    margin-left: -23px;
}
.multi-column .aside-container .horizontalLine, .multi-column .aside-container .dropdown, .tb .aside-container .horizontalLine, .tb .aside-container .dropdown {
    margin-left: 0;
}
.section-break,.work-section-break{
    border : 0.5px solid black;
    margin: 20px -8px 7px -8px;
}
.asideSidebarFeature .element-container,
.asideSidebar05 .element-container
{
    background-color:#fff
}
.asideLearningObjectiveBorderTop{
    position: absolute;
    /* height: 30px; */
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    padding: 0;
}
.element-container {
    position:relative;
}

aside.remove-margin-top{
    margin-top: 0em;
}


.container-aside.asideSidebar05{
    background-color: #ececec;
    max-width: 680px;
    padding-top: 0em;
    padding-right: 2em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    margin-top: 24px;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
    border-top: 7px solid #007494;
}

div.asideSidebar01BorderTop {
    border-top: 7px solid #FFB81C !important;
}

div.asideSidebar02BorderTop {
    border-top: 7px solid #007FA3 !important;
}

div.asideSidebar03BorderTop {
    border-top: 7px solid #d40b0b !important;
}

div.asideTacticBoxBorderTop {
    border-top: 7px solid #000 !important;
}


.container-aside.asideSidebarFeature{
    background-color: #f0f0f0;
    max-width: 680px;
    padding: 0em 2em 0.25em 2em;
    margin: 24px auto 3em auto;
    border-top: 1px solid #000000;
}

.container-aside.asideSidebar04{
    background-color: transparent;
    max-width: 680px;
    padding-right: 2em;
    padding-left: 2em;
    margin: 3em auto auto auto;
}

div.asideSidebar04BorderBottom, div.asideActivityBorderBottom{
    margin: auto auto 3em auto !important;
}

.container-aside.asideActivity{
    background-color: #fff;
    max-width: 680px;
    margin: 3em auto auto auto;
    padding-right: 2em;
    padding-left: 2em;
}